# Pandas Medium Complexity Functions Demo
This notebook demonstrates 25 medium complexity Pandas functions with explanations, code examples, and outputs.

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Generate sample data
np.random.seed(42)
data = {
    'ID': range(1, 31),
    'Name': [f'Person_{i}' for i in range(1, 31)],
    'Age': np.random.randint(18, 60, size=30),
    'Salary': np.random.randint(30000, 150000, size=30),
    'Department': np.random.choice(['HR', 'IT', 'Finance', 'Marketing'], size=30),
    'Joining_Date': pd.date_range(start='2020-01-01', periods=30, freq='M')
}
df = pd.DataFrame(data)
df

<ipython-input-1-b89e63055b70>:13: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'Joining_Date': pd.date_range(start='2020-01-01', periods=30, freq='M')

    ID       Name  Age  Salary Department Joining_Date
0    1   Person_1   56   89150    Finance   2020-01-31
1    2   Person_2   46   95725         IT   2020-02-29
2    3   Person_3   32  114654         HR   2020-03-31
3    4   Person_4   25   65773  Marketing   2020-04-30
4    5   Person_5   38  149346         IT   2020-05-31
5    6   Person_6   56   97435  Marketing   2020-06-30
6    7   Person_7   36   86886  Marketing   2020-07-31
7    8   Person_8   40   96803         IT   2020-08-31
8    9   Person_9   28   61551         IT   2020-09-30
9   10  Person_10   28  146216         IT   2020-10-31
10  11  Person_11   41   41394         IT   2020-11-30
11  12  Person_12   53   99092         IT   2020-12-31
12  13  Person_13   57   33890  Marketing   2021-01-31
13  14  Person_14   41   71606         IT   2021-02-28
14  15  Person_15   20  126276         HR   2021-03-31
15  16  Person_16   39  110038    Finance   2021-04-30
16  17  Person_17   19  117313         IT   2021-05-31
17  18  Person_18   41   40627         IT   2021-06-30
18  19  Person_19   47   38792  Marketing   2021-07-31
19  20  Person_20   55  138859         IT   2021-08-31
20  21  Person_21   19  138557         IT   2021-09-30
21  22  Person_22   38  103969         IT   2021-10-31
22  23  Person_23   50   73001  Marketing   2021-11-30
23  24  Person_24   29  106552         IT   2021-12-31
24  25  Person_25   39   53897    Finance   2022-01-31
25  26  Person_26   42   98148  Marketing   2022-02-28
26  27  Person_27   44   53483    Finance   2022-03-31
27  28  Person_28   59   78555  Marketing   2022-04-30
28  29  Person_29   45   47159         IT   2022-05-31
29  30  Person_30   33  140510    Finance   2022-06-30

### 1. `sort_values()` - Sort by Column

In [ ]:
# Sort by Salary in descending order
df.sort_values(by='Salary', ascending=False).head()

    ID       Name  Age  Salary Department Joining_Date
4    5   Person_5   38  149346         IT   2020-05-31
9   10  Person_10   28  146216         IT   2020-10-31
29  30  Person_30   33  140510    Finance   2022-06-30
19  20  Person_20   55  138859         IT   2021-08-31
20  21  Person_21   19  138557         IT   2021-09-30

### Code Explanation

#### Code Breakdown
```python
df.sort_values(by='Salary', ascending=False).head()
```
1. **`df.sort_values(by='Salary', ascending=False)`**:
   - **Functionality**: Sorts the DataFrame by the specified column (`Salary`) in either ascending or descending order.
   - **Parameters**:
     - `by='Salary'`: Specifies the column to sort the data by (`Salary` in this case).
     - `ascending=False`: Ensures the sorting is in descending order. Default behavior is ascending (`True`).

2. **`.head()`**:
   - Retrieves the first 5 rows of the sorted DataFrame, showing the top 5 employees with the highest salaries.

#### Output (Top 5 Salaries in Descending Order)
| ID  | Name      | Age | Salary  | Department | Joining_Date |
|-----|-----------|-----|---------|------------|--------------|
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   |
| 10  | Person_10 | 28  | 146216  | IT         | 2020-10-31   |
| 30  | Person_30 | 33  | 140510  | Finance    | 2022-06-30   |
| 20  | Person_20 | 55  | 138859  | IT         | 2021-08-31   |
| 21  | Person_21 | 19  | 138557  | IT         | 2021-09-30   |

---

### Applications in US Retail

#### Context
Sorting data is a crucial step in retail analytics for prioritizing resources, making informed decisions, and identifying top-performing entities like employees, products, stores, or regions. Retailers frequently use sorting to rank performance metrics such as sales, revenue, or customer satisfaction.

---

### **1. Employee Compensation Analysis**
**Use Case**:
- HR teams in large retail organizations often analyze employee salaries to identify top earners, ensure pay equity, and reward high performers.

**Application**:
- Sorting by `Salary` helps HR teams:
  - Recognize top earners and their departments.
  - Ensure fairness in compensation across departments and roles.
  - Analyze if top earners belong to high-value departments like IT or Finance.

**Example**:
- The output shows IT dominates the top 5 salaries. This might indicate ITs critical role in operations (e.g., maintaining e-commerce platforms or retail software systems). HR might consider investing further in technical talent.

---

### **2. Store Performance Ranking**
**Use Case**:
- Retail chains need to identify top-performing stores based on sales or revenue metrics to allocate resources more efficiently.

**Application**:
- Replace the `Salary` column with `Revenue` and sort:
  ```python
  df.sort_values(by='Revenue', ascending=False).head()
  ```
- This helps:
  - Focus on replicating the strategies of top-performing stores in underperforming ones.
  - Allocate inventory or marketing budgets based on performance rankings.

**Example**:
- A report sorted by store revenue can guide decisions on promotional campaigns or inventory restocking during peak seasons.

---

### **3. Product Sales Analysis**
**Use Case**:
- Retailers analyze sales data to identify the most profitable products and optimize inventory.

**Application**:
- Replace `Salary` with `Product Sales`:
  ```python
  df.sort_values(by='Product Sales', ascending=False).head()
  ```
- Insights:
  - Identify top-selling products.
  - Focus marketing efforts on these products to boost sales further.
  - Reassess low-performing products for discounts or clearance.

**Example**:
- A retailer finds their top 5 products contribute 80% of revenue. They use this insight to prioritize these products in online and in-store promotions.

---

### **4. Customer Spending Analysis**
**Use Case**:
- Retailers track customer spending to identify high-value customers for loyalty programs or targeted marketing.

**Application**:
- Replace `Salary` with `Customer Spend`:
  ```python
  df.sort_values(by='Customer Spend', ascending=False).head()
  ```
- Insights:
  - Focus on high-spending customers for retention campaigns.
  - Offer exclusive rewards to top spenders to encourage loyalty.

**Example**:
- A retailer identifies that their top customers primarily shop online. This insight helps in tailoring online-exclusive deals for this segment.

---

### **5. Vendor Evaluation**
**Use Case**:
- Retailers work with multiple vendors and need to rank them by metrics like delivery speed, quality, or costs.

**Application**:
- Replace `Salary` with `Vendor Rating`:
  ```python
  df.sort_values(by='Vendor Rating', ascending=False).head()
  ```
- Insights:
  - Identify the most reliable vendors to strengthen partnerships.
  - Address issues with low-performing vendors to improve supply chain efficiency.

---

### Key Benefits in Retail:
1. **Prioritization**: Quickly identify top-performing employees, products, or stores.
2. **Efficiency**: Allocate resources (inventory, marketing, staff) to the most impactful areas.
3. **Insight**: Understand trends and patterns in performance to replicate success.
4. **Fairness**: Ensure equity across departments or regions (e.g., in salaries or incentives).

### 2. `nlargest()` - Get Top N Largest Values

In [ ]:
# Get top 5 employees with the highest salaries
df.nlargest(5, 'Salary')

    ID       Name  Age  Salary Department Joining_Date
4    5   Person_5   38  149346         IT   2020-05-31
9   10  Person_10   28  146216         IT   2020-10-31
29  30  Person_30   33  140510    Finance   2022-06-30
19  20  Person_20   55  138859         IT   2021-08-31
20  21  Person_21   19  138557         IT   2021-09-30

### Code Explanation

#### Code Breakdown
```python
df.nlargest(5, 'Salary')
```

1. **`df.nlargest(n, columns)`**:
   - **Functionality**: Selects the top `n` rows with the largest values in the specified column.
   - **Parameters**:
     - `n=5`: Specifies the number of rows to return (in this case, the top 5).
     - `columns='Salary'`: Specifies the column (`Salary`) to sort and select the largest values.
   - **Result**: Returns a subset of the DataFrame with the top 5 employees based on their salaries.

#### Output (Top 5 Employees by Salary)
| ID  | Name      | Age | Salary  | Department | Joining_Date |
|-----|-----------|-----|---------|------------|--------------|
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   |
| 10  | Person_10 | 28  | 146216  | IT         | 2020-10-31   |
| 30  | Person_30 | 33  | 140510  | Finance    | 2022-06-30   |
| 20  | Person_20 | 55  | 138859  | IT         | 2021-08-31   |
| 21  | Person_21 | 19  | 138557  | IT         | 2021-09-30   |

---

### Applications in US Retail

#### Context
`nlargest()` is a powerful tool for quickly identifying top-performing entities in a retail business. This function can be applied across various retail domains to prioritize and allocate resources effectively.

---

### **1. Identifying Top Earners**
**Use Case**:
- HR departments use this function to find employees with the highest salaries for performance reviews or to ensure competitive pay structures.

**Example**:
- The output indicates that the IT department dominates the highest salaries. HR can analyze why IT employees are top earners and strategize compensation for other departments to ensure parity and attract top talent.

---

### **2. Analyzing Top-Performing Stores**
**Use Case**:
- Retailers often need to identify stores generating the most revenue.

**Application**:
- Replace `Salary` with `Revenue`:
  ```python
  df.nlargest(5, 'Revenue')
  ```
- Insights:
  - Recognize the top-performing stores and their key contributors to replicate their success in other locations.

---

### **3. Focusing on High-Value Customers**
**Use Case**:
- Retailers aim to identify their most valuable customers based on total spending.

**Application**:
- Replace `Salary` with `Customer Spend`:
  ```python
  df.nlargest(5, 'Customer Spend')
  ```
- Insights:
  - Allocate personalized marketing efforts and exclusive loyalty rewards to retain these customers.

---

### **4. Inventory Optimization**
**Use Case**:
- Retailers need to identify products with the highest stock value to ensure optimal inventory management.

**Application**:
- Replace `Salary` with `Stock Value`:
  ```python
  df.nlargest(5, 'Stock Value')
  ```
- Insights:
  - Focus on selling high-value stock through targeted promotions to free up capital.

---

### **5. Evaluating Marketing Campaigns**
**Use Case**:
- Retailers can use this function to rank marketing campaigns by their ROI (Return on Investment).

**Application**:
- Replace `Salary` with `Campaign ROI`:
  ```python
  df.nlargest(5, 'Campaign ROI')
  ```
- Insights:
  - Focus future budgets on campaigns with the highest ROI.

---

### Key Benefits in Retail:
1. **Efficiency**: Quickly identify top-performing entities.
2. **Resource Allocation**: Focus on the highest-impact areas.
3. **Strategic Planning**: Gain insights to replicate success in underperforming areas.
4. **Data-driven Decisions**: Use high-value entities to drive retail strategies.

This function helps streamline analysis, providing actionable insights for better resource management and decision-making.

### 3. `nsmallest()` - Get Top N Smallest Values

In [ ]:
# Get top 5 employees with the lowest salaries
df.nsmallest(5, 'Salary')

    ID       Name  Age  Salary Department Joining_Date
12  13  Person_13   57   33890  Marketing   2021-01-31
18  19  Person_19   47   38792  Marketing   2021-07-31
17  18  Person_18   41   40627         IT   2021-06-30
10  11  Person_11   41   41394         IT   2020-11-30
28  29  Person_29   45   47159         IT   2022-05-31

### Code Explanation

#### Code Breakdown
```python
df.nsmallest(5, 'Salary')
```

1. **`df.nsmallest(n, columns)`**:
   - **Functionality**: Selects the top `n` rows with the smallest values in the specified column.
   - **Parameters**:
     - `n=5`: Specifies the number of rows to return (in this case, the bottom 5).
     - `columns='Salary'`: Specifies the column (`Salary`) to sort and select the smallest values.
   - **Result**: Returns a subset of the DataFrame with the 5 employees who have the lowest salaries.

#### Output (Top 5 Employees with the Lowest Salaries)
| ID  | Name      | Age | Salary  | Department  | Joining_Date |
|-----|-----------|-----|---------|-------------|--------------|
| 13  | Person_13 | 57  | 33890   | Marketing   | 2021-01-31   |
| 19  | Person_19 | 47  | 38792   | Marketing   | 2021-07-31   |
| 18  | Person_18 | 41  | 40627   | IT          | 2021-06-30   |
| 11  | Person_11 | 41  | 41394   | IT          | 2020-11-30   |
| 29  | Person_29 | 45  | 47159   | IT          | 2022-05-31   |

---

### Applications in US Retail

#### Context
`nsmallest()` is a critical function for identifying low-performing entities in a retail environment, whether its employees, stores, products, or campaigns. It helps focus attention on areas requiring improvement.

---

### **1. Employee Salary Analysis**
**Use Case**:
- HR teams can analyze employees with the lowest salaries to ensure fair compensation and identify underpaid roles.

**Example**:
- The output indicates that Marketing and IT departments have employees with the lowest salaries. HR might use this insight to ensure equity and assess if these roles align with industry standards.

---

### **2. Identifying Underperforming Stores**
**Use Case**:
- Retail chains often need to identify stores with the lowest revenue for targeted interventions.

**Application**:
- Replace `Salary` with `Revenue`:
  ```python
  df.nsmallest(5, 'Revenue')
  ```
- Insights:
  - Focus on improving the performance of these stores through tailored marketing, better staffing, or inventory adjustments.

---

### **3. Managing Low-Performing Products**
**Use Case**:
- Retailers need to identify products with the lowest sales or margins to decide on clearance sales or discontinuation.

**Application**:
- Replace `Salary` with `Product Sales` or `Profit Margin`:
  ```python
  df.nsmallest(5, 'Product Sales')
  ```
- Insights:
  - Clear out slow-moving inventory to free up shelf space for better-performing products.
  - Assess whether pricing, placement, or promotion strategies need adjustment for these products.

---

### **4. Supplier Performance Evaluation**
**Use Case**:
- Retailers can rank suppliers based on delivery delays, quality issues, or order fulfillment rates.

**Application**:
- Replace `Salary` with `Delivery Delay` or `Quality Score`:
  ```python
  df.nsmallest(5, 'Delivery Score')
  ```
- Insights:
  - Address performance issues with the least reliable suppliers to strengthen the supply chain.

---

### **5. Marketing Campaign Assessment**
**Use Case**:
- Identify campaigns with the lowest return on investment (ROI) or customer engagement.

**Application**:
- Replace `Salary` with `Campaign ROI`:
  ```python
  df.nsmallest(5, 'Campaign ROI')
  ```
- Insights:
  - Evaluate why these campaigns underperformed and implement lessons learned for future campaigns.

---

### Key Benefits in Retail:
1. **Focus on Improvement**: Pinpoint low-performing areas to prioritize corrective actions.
2. **Resource Optimization**: Redirect resources to improve performance or address inefficiencies.
3. **Preventive Measures**: Identify issues early to prevent further losses.
4. **Strategic Planning**: Use insights to adjust strategies for underperforming entities.

This function helps retailers identify areas that need attention, enabling data-driven decisions to improve overall performance.

### 4. `duplicated()` - Identify Duplicate Rows

In [ ]:
# Check for duplicate rows
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
dtype: bool

### Code Explanation

#### Code Breakdown
```python
df.duplicated()
```

1. **`df.duplicated()`**:
   - **Functionality**: Identifies duplicate rows in the DataFrame. It checks if a row is a duplicate of a previous row (by default).
   - **Result**: Returns a boolean Series where:
     - `True` indicates the row is a duplicate.
     - `False` indicates the row is unique.
   - **Default Behavior**:
     - Considers all columns to determine duplicates.
     - Keeps the first occurrence of a duplicate as `False` and subsequent ones as `True`.

2. **Output**:
   - Since all rows in the dataset are unique, the output consists entirely of `False`.

---

### Applications in US Retail

#### Context
The `duplicated()` function is essential for data validation and cleaning in retail operations. Duplicate entries in datasets can lead to inaccurate analysis, faulty decision-making, and inefficiencies.

---

### **1. Identifying Duplicate Transactions**
**Use Case**:
- Retailers handle large volumes of transactional data. Duplicates in transaction records could overstate revenue or distort sales reports.

**Application**:
- Check for duplicate transactions based on critical fields like `Transaction_ID`, `Customer_ID`, and `Date`:
  ```python
  df.duplicated(subset=['Transaction_ID'])
  ```
- Insights:
  - Ensure accurate financial reporting.
  - Avoid overestimating sales or inventory depletion.

---

### **2. Customer Data Management**
**Use Case**:
- Retailers maintain extensive customer databases. Duplicate customer records can lead to redundancy, ineffective marketing, and poor customer experiences.

**Application**:
- Check for duplicate customer entries based on fields like `Customer_ID` or `Email`:
  ```python
  df.duplicated(subset=['Customer_ID'])
  ```
- Insights:
  - Clean the customer database to enhance the effectiveness of targeted marketing.
  - Ensure a single view of the customer for personalized experiences.

---

### **3. Inventory Records Validation**
**Use Case**:
- Duplicate inventory records can cause discrepancies in stock management, leading to overstocking or stockouts.

**Application**:
- Identify duplicate inventory entries:
  ```python
  df.duplicated(subset=['Product_ID'])
  ```
- Insights:
  - Maintain accurate stock levels.
  - Optimize inventory management.

---

### **4. Supplier and Vendor Data**
**Use Case**:
- Retailers working with multiple suppliers need accurate records to avoid confusion or redundant orders.

**Application**:
- Check for duplicate vendor entries based on fields like `Vendor_ID` or `Company_Name`:
  ```python
  df.duplicated(subset=['Vendor_ID'])
  ```
- Insights:
  - Consolidate vendor information to streamline procurement processes.
  - Ensure unique identifiers for suppliers.

---

### **5. Marketing Campaign Records**
**Use Case**:
- Duplicate records in marketing campaigns can inflate performance metrics, leading to incorrect ROI calculations.

**Application**:
- Identify duplicate marketing campaign records:
  ```python
  df.duplicated(subset=['Campaign_ID'])
  ```
- Insights:
  - Ensure accurate campaign performance analysis.
  - Allocate marketing budgets effectively.

---

### Key Benefits in Retail:
1. **Data Accuracy**: Eliminates redundancy in datasets for reliable analysis.
2. **Efficient Resource Allocation**: Prevents overspending on duplicate entities (e.g., suppliers, customers).
3. **Enhanced Customer Experience**: Ensures accurate and unique customer data for personalized marketing.
4. **Operational Efficiency**: Reduces errors and inefficiencies caused by duplicate entries.

This function helps maintain clean and reliable datasets, ensuring that retail analytics and operations are based on accurate data.

### 5. `drop_duplicates()` - Remove Duplicate Rows

In [ ]:
# Drop duplicate rows
df.drop_duplicates()

    ID       Name  Age  Salary Department Joining_Date
0    1   Person_1   56   89150    Finance   2020-01-31
1    2   Person_2   46   95725         IT   2020-02-29
2    3   Person_3   32  114654         HR   2020-03-31
3    4   Person_4   25   65773  Marketing   2020-04-30
4    5   Person_5   38  149346         IT   2020-05-31
5    6   Person_6   56   97435  Marketing   2020-06-30
6    7   Person_7   36   86886  Marketing   2020-07-31
7    8   Person_8   40   96803         IT   2020-08-31
8    9   Person_9   28   61551         IT   2020-09-30
9   10  Person_10   28  146216         IT   2020-10-31
10  11  Person_11   41   41394         IT   2020-11-30
11  12  Person_12   53   99092         IT   2020-12-31
12  13  Person_13   57   33890  Marketing   2021-01-31
13  14  Person_14   41   71606         IT   2021-02-28
14  15  Person_15   20  126276         HR   2021-03-31
15  16  Person_16   39  110038    Finance   2021-04-30
16  17  Person_17   19  117313         IT   2021-05-31
17  18  Person_18   41   40627         IT   2021-06-30
18  19  Person_19   47   38792  Marketing   2021-07-31
19  20  Person_20   55  138859         IT   2021-08-31
20  21  Person_21   19  138557         IT   2021-09-30
21  22  Person_22   38  103969         IT   2021-10-31
22  23  Person_23   50   73001  Marketing   2021-11-30
23  24  Person_24   29  106552         IT   2021-12-31
24  25  Person_25   39   53897    Finance   2022-01-31
25  26  Person_26   42   98148  Marketing   2022-02-28
26  27  Person_27   44   53483    Finance   2022-03-31
27  28  Person_28   59   78555  Marketing   2022-04-30
28  29  Person_29   45   47159         IT   2022-05-31
29  30  Person_30   33  140510    Finance   2022-06-30

### Code Explanation

#### Code Breakdown
```python
df.drop_duplicates()
```

1. **`df.drop_duplicates()`**:
   - **Functionality**: Removes duplicate rows from the DataFrame.
   - **Default Behavior**:
     - Considers all columns to determine duplicates.
     - Keeps the first occurrence of a duplicate and removes subsequent ones.
   - **Result**: Returns a DataFrame with duplicate rows removed.

2. **Output**:
   - Since the dataset provided does not contain any duplicate rows, the output remains unchanged.

---

### Applications in US Retail

#### Context
Duplicate entries in retail data can lead to inaccurate analytics, inflated metrics, and inefficiencies. Removing duplicates ensures data integrity and prevents errors in decision-making processes.

---

### **1. Cleaning Transaction Data**
**Use Case**:
- Retailers process millions of transactions daily. Duplicate entries can overstate sales or skew revenue metrics.

**Application**:
- Remove duplicate transaction records:
  ```python
  df.drop_duplicates(subset=['Transaction_ID'])
  ```
- Insights:
  - Ensure accurate financial reporting.
  - Prevent inventory mismanagement due to overstated sales.

---

### **2. Consolidating Customer Databases**
**Use Case**:
- Large retailers maintain extensive customer databases. Duplicate customer records can waste resources in marketing and lead to poor customer experiences.

**Application**:
- Remove duplicate customer records based on `Customer_ID` or `Email`:
  ```python
  df.drop_duplicates(subset=['Customer_ID'])
  ```
- Insights:
  - Create a unified view of each customer.
  - Avoid redundant marketing efforts targeting the same individual multiple times.

---

### **3. Managing Inventory Records**
**Use Case**:
- Inventory records often contain duplicates due to data entry errors or system issues. These duplicates can lead to overstocking or stockouts.

**Application**:
- Remove duplicate product records:
  ```python
  df.drop_duplicates(subset=['Product_ID'])
  ```
- Insights:
  - Maintain accurate inventory levels.
  - Optimize inventory management and reduce costs.

---

### **4. Supplier Records Cleanup**
**Use Case**:
- Retailers collaborating with multiple suppliers may encounter duplicate entries due to variations in data input or system integrations.

**Application**:
- Remove duplicate supplier entries:
  ```python
  df.drop_duplicates(subset=['Supplier_ID'])
  ```
- Insights:
  - Streamline supplier relationships.
  - Improve procurement efficiency by consolidating records.

---

### **5. Marketing Campaign Data**
**Use Case**:
- Duplicate records in campaign data can lead to inflated performance metrics and waste budget allocation.

**Application**:
- Remove duplicate campaign entries:
  ```python
  df.drop_duplicates(subset=['Campaign_ID'])
  ```
- Insights:
  - Accurately measure campaign effectiveness.
  - Optimize marketing spend.

---

### Key Benefits in Retail:
1. **Data Accuracy**: Ensures that all analyses and reports are based on clean and reliable data.
2. **Resource Optimization**: Avoids redundant processing of duplicate records, saving time and resources.
3. **Improved Decision-Making**: Enables data-driven strategies based on accurate datasets.
4. **Cost Efficiency**: Reduces waste from errors in marketing, inventory, or supplier data.

By leveraging `drop_duplicates()`, retailers can maintain clean datasets, leading to improved operational efficiency and better-informed business decisions.

### 6. `query()` - Query Data with Conditions

In [ ]:
# Query employees with Salary > 100000 and Age < 30
df.query('Salary > 100000 and Age < 30')

    ID       Name  Age  Salary Department Joining_Date
9   10  Person_10   28  146216         IT   2020-10-31
14  15  Person_15   20  126276         HR   2021-03-31
16  17  Person_17   19  117313         IT   2021-05-31
20  21  Person_21   19  138557         IT   2021-09-30
23  24  Person_24   29  106552         IT   2021-12-31

### Code Explanation

#### Code Breakdown
```python
df.query('Salary > 100000 and Age < 30')
```

1. **`df.query()`**:
   - **Functionality**: Filters rows in the DataFrame based on a query string that specifies conditions.
   - **Parameters**:
     - `'Salary > 100000 and Age < 30'`: The query condition, written as a Python-like expression:
       - `Salary > 100000`: Filters rows where the `Salary` is greater than 100,000.
       - `Age < 30`: Filters rows where the `Age` is less than 30.
       - `and`: Combines both conditions.
   - **Result**: Returns a new DataFrame with rows satisfying both conditions.

#### Output (Employees with Salary > 100,000 and Age < 30)
| ID  | Name      | Age | Salary  | Department | Joining_Date |
|-----|-----------|-----|---------|------------|--------------|
| 10  | Person_10 | 28  | 146216  | IT         | 2020-10-31   |
| 15  | Person_15 | 20  | 126276  | HR         | 2021-03-31   |
| 17  | Person_17 | 19  | 117313  | IT         | 2021-05-31   |
| 21  | Person_21 | 19  | 138557  | IT         | 2021-09-30   |
| 24  | Person_24 | 29  | 106552  | IT         | 2021-12-31   |

---

### Applications in US Retail

#### Context
The `query()` function is particularly useful for filtering data based on complex conditions, enabling quick and intuitive analysis for decision-making in retail operations.

---

### **1. Employee Analysis**
**Use Case**:
- HR teams analyze employees based on specific salary and age criteria to identify high-performing young professionals.

**Example**:
- The output shows employees under 30 with salaries exceeding 100,000, mostly from the IT department. HR can investigate why IT attracts high-performing young employees and replicate this success across other departments.

---

### **2. Customer Segmentation**
**Use Case**:
- Retailers use conditions to segment customers for targeted marketing campaigns.

**Application**:
- Query high-value customers under a specific age group:
  ```python
  df.query('Total_Spend > 5000 and Age < 35')
  ```
- Insights:
  - Identify young, high-spending customers.
  - Create targeted promotions or loyalty programs for this segment.

---

### **3. Product Analysis**
**Use Case**:
- Retailers analyze products based on sales volume and profit margins to identify top performers.

**Application**:
- Query high-selling, high-margin products:
  ```python
  df.query('Sales > 1000 and Profit_Margin > 20')
  ```
- Insights:
  - Focus inventory and marketing efforts on profitable products.
  - Replicate strategies for similar products.

---

### **4. Store Performance**
**Use Case**:
- Evaluate stores meeting specific revenue and footfall thresholds.

**Application**:
- Query stores with high revenue and customer visits:
  ```python
  df.query('Revenue > 500000 and Footfall > 10000')
  ```
- Insights:
  - Identify top-performing stores to replicate their strategies in underperforming locations.

---

### **5. Inventory Optimization**
**Use Case**:
- Query products with low stock and high sales velocity to avoid stockouts.

**Application**:
- Query such products:
  ```python
  df.query('Stock < 50 and Sales_Velocity > 100')
  ```
- Insights:
  - Prioritize restocking high-demand products.
  - Prevent lost sales due to inventory shortages.

---

### Key Benefits in Retail:
1. **Dynamic Filtering**: Enables quick exploration of data with flexible conditions.
2. **Time Efficiency**: Simplifies filtering logic without complex syntax.
3. **Targeted Insights**: Focuses on specific subsets of data for actionable insights.
4. **Custom Analysis**: Allows domain-specific queries tailored to business needs.

By using `query()`, retailers can easily perform granular analysis, supporting strategic decision-making across various domains.

### 7. `apply()` - Apply Functions

In [ ]:
# Apply a lambda function to create a Salary Band
df['Salary_Band'] = df['Salary'].apply(lambda x: 'High' if x > 100000 else 'Low')
df.head()

   ID      Name  Age  Salary Department Joining_Date Salary_Band
0   1  Person_1   56   89150    Finance   2020-01-31         Low
1   2  Person_2   46   95725         IT   2020-02-29         Low
2   3  Person_3   32  114654         HR   2020-03-31        High
3   4  Person_4   25   65773  Marketing   2020-04-30         Low
4   5  Person_5   38  149346         IT   2020-05-31        High

### Code Explanation

#### Code Breakdown
```python
df['Salary_Band'] = df['Salary'].apply(lambda x: 'High' if x > 100000 else 'Low')
```

1. **`apply()`**:
   - **Functionality**: Applies a function (custom or predefined) element-wise to a Series or along an axis of a DataFrame.
   - **Parameters**:
     - `lambda x: 'High' if x > 100000 else 'Low'`:
       - A **lambda function** is used here to categorize salaries into two bands:
         - `'High'` if `x > 100,000`.
         - `'Low'` otherwise.
     - `x`: Represents individual salary values from the `Salary` column.

2. **Adding a New Column**:
   - `df['Salary_Band']`: Assigns the result of the `apply()` function to a new column, `Salary_Band`.

3. **Result**:
   - Each row in the DataFrame now includes a `Salary_Band` column that categorizes employees' salaries as either `High` or `Low`.

#### Output (First 5 Rows with `Salary_Band`)
| ID  | Name      | Age | Salary  | Department | Joining_Date | Salary_Band |
|-----|-----------|-----|---------|------------|--------------|-------------|
| 1   | Person_1  | 56  | 89150   | Finance    | 2020-01-31   | Low         |
| 2   | Person_2  | 46  | 95725   | IT         | 2020-02-29   | Low         |
| 3   | Person_3  | 32  | 114654  | HR         | 2020-03-31   | High        |
| 4   | Person_4  | 25  | 65773   | Marketing  | 2020-04-30   | Low         |
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   | High        |

---

### Applications in US Retail

#### Context
The `apply()` function is versatile and widely used in retail analytics to transform data, create new insights, and enhance decision-making. This specific example demonstrates categorizing employees, but similar logic can be applied across retail operations.

---

### **1. Employee Salary Band Categorization**
**Use Case**:
- HR can categorize employees into salary bands for compensation analysis.

**Application**:
- The `Salary_Band` column helps:
  - Identify high-earning employees for targeted incentives.
  - Ensure equitable pay across departments and roles.

**Example**:
- High earners can be analyzed further to understand their impact on business outcomes or evaluate whether their salaries align with market standards.

---

### **2. Product Price Segmentation**
**Use Case**:
- Categorize products based on their price to assist in pricing strategies and promotions.

**Application**:
- Replace `Salary` with `Price` and create a `Price_Band`:
  ```python
  df['Price_Band'] = df['Price'].apply(lambda x: 'Premium' if x > 50 else 'Budget')
  ```
- Insights:
  - Identify high-margin products (`Premium`) for focused marketing.
  - Promote `Budget` products during sales events to boost volume.

---

### **3. Customer Spend Categorization**
**Use Case**:
- Categorize customers into tiers based on their spending behavior.

**Application**:
- Replace `Salary` with `Total_Spend` and create a `Spend_Tier`:
  ```python
  df['Spend_Tier'] = df['Total_Spend'].apply(lambda x: 'VIP' if x > 5000 else 'Regular')
  ```
- Insights:
  - Design loyalty programs targeting `VIP` customers.
  - Encourage `Regular` customers to increase spending through personalized offers.

---

### **4. Inventory Priority Classification**
**Use Case**:
- Assign priority levels to inventory based on stock levels or sales velocity.

**Application**:
- Categorize inventory based on stock levels:
  ```python
  df['Stock_Priority'] = df['Stock_Level'].apply(lambda x: 'Replenish' if x < 20 else 'Sufficient')
  ```
- Insights:
  - Prioritize restocking items with low inventory.
  - Avoid overstocking products with sufficient inventory.

---

### **5. Store Performance Evaluation**
**Use Case**:
- Classify stores based on revenue generation.

**Application**:
- Replace `Salary` with `Revenue` to create a `Performance_Band`:
  ```python
  df['Performance_Band'] = df['Revenue'].apply(lambda x: 'Top Performer' if x > 500000 else 'Needs Improvement')
  ```
- Insights:
  - Identify top-performing stores for strategic investments.
  - Implement corrective actions for underperforming stores.

---

### Key Benefits in Retail:
1. **Customization**: Apply tailored transformations to data for deeper insights.
2. **Enhanced Decision-Making**: Enable segmentation and prioritization for targeted actions.
3. **Scalability**: Easily apply the same logic across large datasets.
4. **Improved Efficiency**: Automate complex categorizations and reduce manual effort.

By leveraging the `apply()` function, retailers can efficiently create meaningful classifications, enhancing their ability to act on data-driven insights.

### 8. `groupby()` - Aggregate Data by Group

In [ ]:
# Group by Department and calculate mean Salary
df.groupby('Department')['Salary'].mean()

Department
Finance       89415.6
HR           120465.0
IT            96984.6
Marketing     71560.0
Name: Salary, dtype: float64

### Code Explanation

#### Code Breakdown
```python
df.groupby('Department')['Salary'].mean()
```

1. **`groupby()`**:
   - Groups the DataFrame rows based on unique values in the specified column (`Department` in this case).
   - **Functionality**:
     - Splits the DataFrame into groups based on `Department`.
     - Applies the aggregation function (`mean`) to the `Salary` column for each group.

2. **`['Salary']`**:
   - Selects the column (`Salary`) to which the aggregation function will be applied.

3. **`.mean()`**:
   - Calculates the average (`mean`) salary for each department.

4. **Result**:
   - Returns a Series where:
     - The index is the unique `Department` names.
     - The values are the mean salaries for each department.

#### Output (Average Salary by Department)
| Department  | Salary    |
|-------------|-----------|
| Finance     | 89415.6   |
| HR          | 120465.0  |
| IT          | 96984.6   |
| Marketing   | 71560.0   |

---

### Applications in US Retail

#### Context
The `groupby()` function is one of the most powerful tools for aggregating and analyzing data in retail. It helps segment data into meaningful groups and calculate metrics to derive actionable insights.

---

### **1. Employee Analysis by Department**
**Use Case**:
- HR can analyze average salaries by department to ensure equitable pay and budget allocation.

**Insights**:
- The highest average salary is in HR, followed by IT, while Marketing has the lowest. HR might use this data to evaluate pay fairness across departments.

---

### **2. Sales Analysis by Product Category**
**Use Case**:
- Retailers analyze sales data grouped by product category to identify high-revenue categories.

**Application**:
- Replace `Department` with `Category` and `Salary` with `Revenue`:
  ```python
  df.groupby('Category')['Revenue'].mean()
  ```
- Insights:
  - Identify which product categories generate the highest revenue on average.
  - Allocate marketing budgets and inventory accordingly.

---

### **3. Regional Store Performance**
**Use Case**:
- Evaluate average revenue by region to identify high- and low-performing areas.

**Application**:
- Replace `Department` with `Region` and `Salary` with `Revenue`:
  ```python
  df.groupby('Region')['Revenue'].mean()
  ```
- Insights:
  - Focus on improving performance in regions with below-average revenue.
  - Replicate successful strategies from top-performing regions.

---

### **4. Customer Segmentation**
**Use Case**:
- Segment customers by loyalty tier and calculate their average spending.

**Application**:
- Replace `Department` with `Loyalty_Tier` and `Salary` with `Customer_Spend`:
  ```python
  df.groupby('Loyalty_Tier')['Customer_Spend'].mean()
  ```
- Insights:
  - Understand spending patterns of different loyalty tiers.
  - Design tier-specific rewards to boost engagement.

---

### **5. Supplier Evaluation**
**Use Case**:
- Group suppliers by vendor type and calculate their average delivery times or quality scores.

**Application**:
- Replace `Department` with `Vendor_Type` and `Salary` with `Delivery_Time`:
  ```python
  df.groupby('Vendor_Type')['Delivery_Time'].mean()
  ```
- Insights:
  - Identify vendor types with the best performance.
  - Focus on building partnerships with reliable vendors.

---

### Key Benefits in Retail:
1. **Aggregated Insights**: Quickly calculate summary statistics for grouped data.
2. **Segmentation**: Understand key metrics across different categories (e.g., regions, products, customers).
3. **Resource Allocation**: Focus resources (inventory, budget) on high-performing segments.
4. **Improved Decision-Making**: Derive actionable insights from grouped data.

By using `groupby()`, retailers can efficiently analyze data at a granular level, supporting strategic decision-making across operations.

### 9. `pivot_table()` - Create Pivot Table

In [ ]:
# Create a pivot table for Salary by Department
df.pivot_table(values='Salary', index='Department', aggfunc='mean')

              Salary
Department
Finance      89415.6
HR          120465.0
IT           96984.6
Marketing    71560.0

### Code Explanation

#### Code Breakdown
```python
df.pivot_table(values='Salary', index='Department', aggfunc='mean')
```

1. **`pivot_table()`**:
   - Creates a pivot table, which is a tabular summary of data organized into groups.
   - **Parameters**:
     - `values='Salary'`: Specifies the column whose values will be aggregated (`Salary` in this case).
     - `index='Department'`: Sets the rows of the pivot table to unique values from the `Department` column.
     - `aggfunc='mean'`: Defines the aggregation function to calculate the average (`mean`) of the `Salary` column for each department.

2. **Result**:
   - The pivot table summarizes the average salary for each department.

#### Output (Pivot Table for Salary by Department)
| Department  | Salary    |
|-------------|-----------|
| Finance     | 89415.6   |
| HR          | 120465.0  |
| IT          | 96984.6   |
| Marketing   | 71560.0   |

---

### Applications in US Retail

#### Context
Pivot tables are powerful tools for summarizing, analyzing, and comparing data. In retail, they are widely used for generating aggregated insights from complex datasets.

---

### **1. Employee Compensation Analysis**
**Use Case**:
- HR teams can analyze average salaries by department to evaluate compensation practices and budgets.

**Insights**:
- The output shows HR has the highest average salary, while Marketing has the lowest. This could indicate differences in roles or responsibilities and help guide compensation adjustments.

---

### **2. Sales Performance by Product Category**
**Use Case**:
- Retailers often analyze sales data to identify high-performing product categories.

**Application**:
- Replace `Salary` with `Revenue` and `Department` with `Category`:
  ```python
  df.pivot_table(values='Revenue', index='Category', aggfunc='sum')
  ```
- Insights:
  - Understand which categories contribute the most to total revenue.
  - Focus marketing efforts on high-performing categories.

---

### **3. Store Revenue Analysis by Region**
**Use Case**:
- Evaluate store performance based on regions to identify strong and weak markets.

**Application**:
- Replace `Salary` with `Revenue` and `Department` with `Region`:
  ```python
  df.pivot_table(values='Revenue', index='Region', aggfunc='mean')
  ```
- Insights:
  - Identify high-revenue regions and replicate their strategies in underperforming regions.
  - Allocate inventory based on regional demand.

---

### **4. Customer Segmentation**
**Use Case**:
- Segment customers by loyalty tier and analyze their spending patterns.

**Application**:
- Replace `Salary` with `Total_Spend` and `Department` with `Loyalty_Tier`:
  ```python
  df.pivot_table(values='Total_Spend', index='Loyalty_Tier', aggfunc='mean')
  ```
- Insights:
  - Design tailored promotions for each loyalty tier.
  - Focus on increasing spend from lower tiers.

---

### **5. Vendor Performance Evaluation**
**Use Case**:
- Group suppliers by vendor type and analyze their delivery times or quality scores.

**Application**:
- Replace `Salary` with `Delivery_Time` and `Department` with `Vendor_Type`:
  ```python
  df.pivot_table(values='Delivery_Time', index='Vendor_Type', aggfunc='mean')
  ```
- Insights:
  - Identify vendor types with the most reliable performance.
  - Optimize procurement strategies based on vendor analysis.

---

### **Advantages of Pivot Tables in Retail**:
1. **Dynamic Aggregation**: Quickly summarize data with customizable aggregation functions (e.g., sum, mean, max).
2. **Flexibility**: Easily change the dimensions of analysis (e.g., rows, columns, values).
3. **Comprehensive Insights**: Generate detailed reports to inform strategy across operations.
4. **Resource Optimization**: Prioritize resources based on aggregated insights (e.g., focus on high-revenue regions or products).

Using `pivot_table()`, retailers can efficiently analyze data to uncover patterns and trends, enabling more effective decision-making.

### 10. `melt()` - Unpivot Data

In [ ]:
# Melt Salary and Age columns
df.melt(id_vars=['ID', 'Name'], value_vars=['Salary', 'Age'], var_name='Attribute', value_name='Value')

    ID       Name Attribute   Value
0    1   Person_1    Salary   89150
1    2   Person_2    Salary   95725
2    3   Person_3    Salary  114654
3    4   Person_4    Salary   65773
4    5   Person_5    Salary  149346
5    6   Person_6    Salary   97435
6    7   Person_7    Salary   86886
7    8   Person_8    Salary   96803
8    9   Person_9    Salary   61551
9   10  Person_10    Salary  146216
10  11  Person_11    Salary   41394
11  12  Person_12    Salary   99092
12  13  Person_13    Salary   33890
13  14  Person_14    Salary   71606
14  15  Person_15    Salary  126276
15  16  Person_16    Salary  110038
16  17  Person_17    Salary  117313
17  18  Person_18    Salary   40627
18  19  Person_19    Salary   38792
19  20  Person_20    Salary  138859
20  21  Person_21    Salary  138557
21  22  Person_22    Salary  103969
22  23  Person_23    Salary   73001
23  24  Person_24    Salary  106552
24  25  Person_25    Salary   53897
25  26  Person_26    Salary   98148
26  27  Person_27    Salary   53483
27  28  Person_28    Salary   78555
28  29  Person_29    Salary   47159
29  30  Person_30    Salary  140510
30   1   Person_1       Age      56
31   2   Person_2       Age      46
32   3   Person_3       Age      32
33   4   Person_4       Age      25
34   5   Person_5       Age      38
35   6   Person_6       Age      56
36   7   Person_7       Age      36
37   8   Person_8       Age      40
38   9   Person_9       Age      28
39  10  Person_10       Age      28
40  11  Person_11       Age      41
41  12  Person_12       Age      53
42  13  Person_13       Age      57
43  14  Person_14       Age      41
44  15  Person_15       Age      20
45  16  Person_16       Age      39
46  17  Person_17       Age      19
47  18  Person_18       Age      41
48  19  Person_19       Age      47
49  20  Person_20       Age      55
50  21  Person_21       Age      19
51  22  Person_22       Age      38
52  23  Person_23       Age      50
53  24  Person_24       Age      29
54  25  Person_25       Age      39
55  26  Person_26       Age      42
56  27  Person_27       Age      44
57  28  Person_28       Age      59
58  29  Person_29       Age      45
59  30  Person_30       Age      33

### Code Explanation

#### Code Breakdown
```python
df.melt(id_vars=['ID', 'Name'], value_vars=['Salary', 'Age'], var_name='Attribute', value_name='Value')
```

1. **`melt()`**:
   - **Functionality**: Unpivots (transforms) a DataFrame from wide format to long format. It converts column headers into row values.
   - **Parameters**:
     - `id_vars=['ID', 'Name']`: Specifies the columns to remain static (identifiers).
     - `value_vars=['Salary', 'Age']`: Specifies the columns to unpivot (convert into rows).
     - `var_name='Attribute'`: Renames the column that stores the names of unpivoted columns (default is `variable`).
     - `value_name='Value'`: Renames the column that stores the values of unpivoted columns (default is `value`).

2. **Result**:
   - The columns `Salary` and `Age` are unpivoted into two new columns: `Attribute` (stating whether it is `Salary` or `Age`) and `Value` (holding the corresponding values).

#### Output (Unpivoted DataFrame)
| ID  | Name      | Attribute | Value   |
|-----|-----------|-----------|---------|
| 1   | Person_1  | Salary    | 89150   |
| 2   | Person_2  | Salary    | 95725   |
| 3   | Person_3  | Salary    | 114654  |
| ... | ...       | ...       | ...     |
| 1   | Person_1  | Age       | 56      |
| 2   | Person_2  | Age       | 46      |
| 3   | Person_3  | Age       | 32      |

---

### Applications in US Retail

#### Context
The `melt()` function is widely used in retail analytics for restructuring data to facilitate specific analyses. It helps in scenarios where data needs to be transformed for compatibility with various visualization or processing tools.

---

### **1. Employee Data Transformation**
**Use Case**:
- HR systems often need employee data in a long format for reporting and analysis.

**Insights**:
- Unpivoting `Salary` and `Age` makes it easier to analyze these attributes together. For example:
  - Average salary and age by department.
  - Distribution of salaries and ages across departments.

---

### **2. Sales Data Restructuring**
**Use Case**:
- Retailers often track sales across multiple metrics, such as units sold, revenue, and profit. These are typically stored as columns but might need unpivoting for analysis.

**Application**:
- Unpivot sales metrics:
  ```python
  df.melt(id_vars=['Product_ID', 'Region'], value_vars=['Units_Sold', 'Revenue', 'Profit'], var_name='Metric', value_name='Value')
  ```
- Insights:
  - Compare metrics like revenue and profit for different regions or products.
  - Analyze trends in sales metrics over time.

---

### **3. Inventory Data Analysis**
**Use Case**:
- Retailers might store stock levels for different time periods in separate columns. Unpivoting simplifies time-series analysis.

**Application**:
- Unpivot inventory data:
  ```python
  df.melt(id_vars=['Product_ID'], value_vars=['Jan_Stock', 'Feb_Stock', 'Mar_Stock'], var_name='Month', value_name='Stock_Level')
  ```
- Insights:
  - Track inventory trends month over month.
  - Identify periods of overstock or stockouts.

---

### **4. Marketing Campaign Performance**
**Use Case**:
- Analyze performance metrics of marketing campaigns across different KPIs (e.g., clicks, conversions, ROI).

**Application**:
- Unpivot campaign metrics:
  ```python
  df.melt(id_vars=['Campaign_ID'], value_vars=['Clicks', 'Conversions', 'ROI'], var_name='Metric', value_name='Value')
  ```
- Insights:
  - Compare KPIs across campaigns.
  - Identify which campaigns delivered the highest ROI.

---

### **5. Customer Spend Analysis**
**Use Case**:
- Retailers analyze customer spending on different product categories. Data stored in separate columns for categories might need unpivoting for analysis.

**Application**:
- Unpivot customer spending data:
  ```python
  df.melt(id_vars=['Customer_ID'], value_vars=['Electronics', 'Clothing', 'Groceries'], var_name='Category', value_name='Spend')
  ```
- Insights:
  - Identify top-spending customers for each category.
  - Allocate resources to high-spending categories.

---

### Key Benefits in Retail:
1. **Restructured Data**: Makes data compatible with analysis and visualization tools that require long-format input.
2. **Simplified Analysis**: Facilitates group-wise comparisons and aggregations across multiple variables.
3. **Enhanced Flexibility**: Adapts wide-format datasets for time-series analysis or KPI comparisons.
4. **Improved Insights**: Unveils hidden patterns by consolidating attributes into a single column.

By using `melt()`, retailers can reshape their data to uncover actionable insights and streamline analytical workflows.

### 11. `rolling()` - Rolling Window Calculations

In [ ]:
# Calculate rolling mean of Salary with a window size of 3
df['Rolling_Mean_Salary'] = df['Salary'].rolling(window=3).mean()
df.head(10)

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN
2,3,Person_3,32,114654,HR,2020-03-31,High,99843.000000
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333
5,6,Person_6,56,97435,Marketing,2020-06-30,Low,104184.666667
6,7,Person_7,36,86886,Marketing,2020-07-31,Low,111222.333333
7,8,Person_8,40,96803,IT,2020-08-31,Low,93708.000000
8,9,Person_9,28,61551,IT,2020-09-30,Low,81746.666667
9,10,Person_10,28,146216,IT,2020-10-31,High,101523.333333

### Code Explanation

#### Code Breakdown
```python
df['Rolling_Mean_Salary'] = df['Salary'].rolling(window=3).mean()
```

1. **`rolling(window=3)`**:
   - **Functionality**: Provides rolling window calculations over a specified number of periods (`window=3` here). It applies a function (in this case, `mean`) to each window of values in the selected column (`Salary`).
   - **Parameters**:
     - `window=3`: Defines the window size as 3, meaning the function calculates over every three rows.
   - **Behavior**: The function aggregates data within the window. Since the window size is 3, the mean salary is calculated using the current and the previous two rows' salary values.

2. **`.mean()`**:
   - Calculates the mean (average) of values within each window.

3. **Result**:
   - Assigns the result of the rolling mean calculation back to the DataFrame in a new column `Rolling_Mean_Salary`.
   - For the first two entries, the result is `NaN` (Not a Number) because there are not enough data points to form a complete window of 3.

#### Output (First 10 Rows with Rolling Mean Salary)
| ID  | Name      | Age | Salary  | Department | Joining_Date | Salary_Band | Rolling_Mean_Salary |
|-----|-----------|-----|---------|------------|--------------|-------------|---------------------|
| 1   | Person_1  | 56  | 89150   | Finance    | 2020-01-31   | Low         | NaN                 |
| 2   | Person_2  | 46  | 95725   | IT         | 2020-02-29   | Low         | NaN                 |
| 3   | Person_3  | 32  | 114654  | HR         | 2020-03-31   | High        | 99843.0             |
| 4   | Person_4  | 25  | 65773   | Marketing  | 2020-04-30   | Low         | 92050.7             |
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   | High        | 109924.3            |
| 6   | Person_6  | 56  | 97435   | Marketing  | 2020-06-30   | Low         | 104184.7            |
| 7   | Person_7  | 36  | 86886   | Marketing  | 2020-07-31   | Low         | 111222.3            |
| 8   | Person_8  | 40  | 96803   | IT         | 2020-08-31   | Low         | 93708.0             |
| 9   | Person_9  | 28  | 61551   | IT         | 2020-09-30   | Low         | 81746.7             |
| 10  | Person_10 | 28  | 146216  | IT         | 2020-10-31   | High        | 101523.3            |

---

### Applications in US Retail

#### Context
Rolling window calculations are pivotal for trend analysis in retail, enabling businesses to smooth out short-term fluctuations and highlight longer-term trends in data.

---

### **1. Sales Trend Analysis**
**Use Case**:
- Retailers analyze rolling averages of sales to identify trends, seasonal effects, and sales momentum.

**Application**:
- Calculate rolling mean of monthly sales:
  ```python
  df['Monthly_Sales'].rolling(window=3).mean()
  ```
- Insights:
  - Smooth out irregularities in sales data.
  - Detect upward or downward trends to adjust strategies.

---

### **2. Inventory Level Monitoring**
**Use Case**:
- Retailers use rolling averages to monitor inventory levels, ensuring they have enough stock without overstocking.

**Application**:
- Calculate rolling mean of inventory levels:
  ```python
  df['Inventory_Level'].rolling(window=3).mean()
  ```
- Insights:
  - Anticipate inventory needs.
  - Avoid stockouts and overstock situations.

---

### **3. Customer Traffic Analysis**
**Use Case**:
- Analyze customer footfall trends using rolling averages to manage staffing and marketing activities.

**Application**:
- Calculate rolling mean of daily customer visits:
  ```python
  df['Customer_Visits'].rolling(window=7).mean()  # Weekly average
  ```
- Insights:
  - Plan staffing requirements based on traffic trends.
  - Tailor marketing activities to expected footfall.

---

### **4. Financial Metrics**
**Use Case**:
- Evaluate financial performance metrics like profit margins or expenses using rolling averages to provide a more stable view over time.

**Application**:
- Calculate rolling mean of monthly expenses:
  ```python
  df['Expenses'].rolling(window=6).mean()  # Semi-annual trend
  ```
- Insights:
  - Understand financial health over time.
  - Make informed budgeting decisions based on expense trends.

---

### Key Benefits in Retail:
1. **Trend Identification**: Spot trends by smoothing out fluctuations in the data.
2. **Decision Support**: Provide stable metrics to support strategic decisions.
3. **Operational Planning**: Adjust operational plans based on trend analysis (e.g., inventory, staffing).
4. **Performance Tracking**: Monitor performance metrics over time to gauge effectiveness of strategies.

Rolling calculations like `rolling().mean()` help retailers adapt to changing conditions by providing a dynamic view of performance metrics.

### 12. `shift()` - Shift Values

In [ ]:
# Shift Salary column by one position
df['Shifted_Salary'] = df['Salary'].shift(1)
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN,NaN
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0
2,3,Person_3,32,114654,HR,2020-03-31,High,99843.000000,95725.0
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667,114654.0
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0

### Code Explanation

#### Code Breakdown
```python
df['Shifted_Salary'] = df['Salary'].shift(1)
```

1. **`shift(1)`**:
   - **Functionality**: Shifts the values in a Series (or DataFrame column) downward by the specified number of places (`1` in this case).
   - **Parameters**:
     - `1`: Indicates the number of positions the data should move downward. Negative numbers would shift the data upward.
   - **Behavior**: The function moves each value down one row, introducing `NaN` (Not a Number) into the first position as there is no previous value to pull forward.

2. **Result**:
   - The `Salary` data is shifted down by one position, and this shifted series is stored in a new column called `Shifted_Salary`.

#### Output (First 5 Rows with Shifted Salary)
| ID  | Name      | Age | Salary  | Department | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary |
|-----|-----------|-----|---------|------------|--------------|-------------|---------------------|----------------|
| 1   | Person_1  | 56  | 89150   | Finance    | 2020-01-31   | Low         | NaN                 | NaN            |
| 2   | Person_2  | 46  | 95725   | IT         | 2020-02-29   | Low         | NaN                 | 89150.0        |
| 3   | Person_3  | 32  | 114654  | HR         | 2020-03-31   | High        | 99843.0             | 95725.0        |
| 4   | Person_4  | 25  | 65773   | Marketing  | 2020-04-30   | Low         | 92050.7             | 114654.0       |
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   | High        | 109924.3            | 65773.0        |

---

### Applications in US Retail

#### Context
The `shift()` function is commonly used in retail analytics for comparing sequential data points, such as sales or inventory over consecutive periods.

---

### **1. Sales Comparison**
**Use Case**:
- Retailers often compare current sales to previous periods to identify trends or changes.

**Application**:
- Compare daily sales to the previous day:
  ```python
  df['Previous_Day_Sales'] = df['Daily_Sales'].shift(1)
  df['Sales_Change'] = df['Daily_Sales'] - df['Previous_Day_Sales']
  ```
- Insights:
  - Identify days with significant sales increases or decreases.
  - Adjust marketing and stock based on sales trends.

---

### **2. Inventory Tracking**
**Use Case**:
- Track changes in inventory levels from one day to the next to manage stock more effectively.

**Application**:
- Monitor daily inventory shifts:
  ```python
  df['Previous_Inventory'] = df['Current_Inventory'].shift(1)
  df['Inventory_Change'] = df['Current_Inventory'] - df['Previous_Inventory']
  ```
- Insights:
  - Detect sudden drops or increases in inventory.
  - Investigate discrepancies and adjust ordering schedules.

---

### **3. Price Fluctuation Analysis**
**Use Case**:
- Analyze how product prices change from one day to the next.

**Application**:
- Track daily price changes:
  ```python
  df['Previous_Price'] = df['Price'].shift(1)
  df['Price_Change'] = df['Price'] - df['Previous_Price']
  ```
- Insights:
  - Understand pricing dynamics.
  - Optimize pricing strategies based on historical changes.

---

### **4. Workforce Management**
**Use Case**:
- Analyze staffing levels, comparing them with previous days to ensure adequate coverage.

**Application**:
- Calculate changes in daily staffing:
  ```python
  df['Previous_Staff'] = df['Staff_Count'].shift(1)
  df['Staff_Change'] = df['Staff_Count'] - df['Previous_Staff']
  ```
- Insights:
  - Adjust staffing based on customer footfall and projected sales.

---

### **5. Customer Visit Trends**
**Use Case**:
- Track customer visits to see day-to-day variations and align services accordingly.

**Application**:
- Examine fluctuations in daily customer visits:
  ```python
  df['Previous_Visits'] = df['Customer_Visits'].shift(1)
  df['Visit_Change'] = df['Customer_Visits'] - df['Previous_Visits']
  ```
- Insights:
  - Prepare for peak times by aligning staffing and inventory with expected customer visits.

---

### Key Benefits in Retail:
1. **Sequential Analysis**: Facilitates comparison of data across consecutive periods.
2. **Operational Adjustments**: Enables proactive management of sales, inventory, and staffing based on trends.
3. **Strategic Insights**: Provides a clearer understanding of business dynamics, assisting in planning and forecasting.

By utilizing the `shift()` function, retailers can enhance their operational and strategic decisions by clearly understanding changes and trends over time.

### 13. `cumsum()` - Cumulative Sum

In [ ]:
# Calculate cumulative sum of Salaries
df['Cumulative_Salary'] = df['Salary'].cumsum()
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN,NaN,89150
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0,184875
2,3,Person_3,32,114654,HR,2020-03-31,High,99843.000000,95725.0,299529
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667,114654.0,365302
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0,514648

### Code Explanation

#### Code Breakdown
```python
df['Cumulative_Salary'] = df['Salary'].cumsum()
```

1. **`cumsum()`**:
   - **Functionality**: Calculates the cumulative sum of a series or DataFrame column.
   - **Result**: Each value in the `Cumulative_Salary` column represents the sum of all `Salary` values up to and including the current row.

2. **Assignment**:
   - The result of `cumsum()` is assigned to a new column in the DataFrame, `Cumulative_Salary`.

#### Output (First 5 Rows with Cumulative Salary)
| ID  | Name      | Age | Salary  | Department | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary |
|-----|-----------|-----|---------|------------|--------------|-------------|---------------------|----------------|-------------------|
| 1   | Person_1  | 56  | 89150   | Finance    | 2020-01-31   | Low         | NaN                 | NaN            | 89150             |
| 2   | Person_2  | 46  | 95725   | IT         | 2020-02-29   | Low         | NaN                 | 89150          | 184875            |
| 3   | Person_3  | 32  | 114654  | HR         | 2020-03-31   | High        | 99843.0             | 95725          | 299529            |
| 4   | Person_4  | 25  | 65773   | Marketing  | 2020-04-30   | Low         | 92050.7             | 114654         | 365302            |
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   | High        | 109924.3            | 65773          | 514648            |

---

### Applications in US Retail

#### Context
The `cumsum()` function is essential for financial analysis and tracking cumulative metrics in retail, offering a straightforward way to assess total values over time, such as expenses, sales, or salary costs.

---

### **1. Financial Reporting**
**Use Case**:
- Retailers track cumulative expenses or revenue to monitor financial performance over fiscal periods.

**Application**:
- Calculate cumulative revenue:
  ```python
  df['Cumulative_Revenue'] = df['Revenue'].cumsum()
  ```
- Insights:
  - Assess financial health and growth over time.
  - Compare actual performance against forecasts and budgets.

---

### **2. Inventory Purchasing**
**Use Case**:
- Analyze cumulative spending on inventory purchases to manage budgets and supply chain decisions.

**Application**:
- Calculate cumulative inventory spending:
  ```python
  df['Cumulative_Inventory_Spending'] = df['Inventory_Cost'].cumsum()
  ```
- Insights:
  - Monitor budget utilization.
  - Make informed purchasing decisions based on cumulative spending.

---

### **3. Sales Analysis**
**Use Case**:
- Track cumulative sales to understand seasonal trends and overall sales effectiveness.

**Application**:
- Calculate cumulative sales:
  ```python
  df['Cumulative_Sales'] = df['Daily_Sales'].cumsum()
  ```
- Insights:
  - Identify peak sales periods.
  - Adjust marketing and inventory strategies based on sales trends.

---

### **4. Customer Loyalty**
**Use Case**:
- Evaluate the effectiveness of loyalty programs by tracking cumulative spending by loyalty club members.

**Application**:
- Track cumulative spending of loyalty members:
  ```python
  df['Cumulative_Spending'] = df['Customer_Spend'].cumsum()
  ```
- Insights:
  - Assess the impact of loyalty programs on customer spending.
  - Tailor loyalty rewards based on spending thresholds.

---

### **5. Employee Productivity**
**Use Case**:
- Monitor cumulative productivity measures, such as sales made or tasks completed by employees.

**Application**:
- Calculate cumulative metrics for employee productivity:
  ```python
  df['Cumulative_Productivity'] = df['Tasks_Completed'].cumsum()
  ```
- Insights:
  - Evaluate employee performance.
  - Implement incentives for high-performing employees based on cumulative achievements.

---

### Key Benefits in Retail:
1. **Trend Identification**: Recognize upward or downward financial or operational trends.
2. **Resource Allocation**: Allocate resources more effectively based on cumulative data.
3. **Strategic Planning**: Plan for the future based on historical cumulative insights.
4. **Performance Tracking**: Monitor cumulative metrics to gauge long-term performance and make informed decisions.

Using `cumsum()`, retailers can seamlessly track and analyze accumulated data, supporting strategic business decisions and operational management.

### 14. `cut()` - Bin Values into Intervals

In [ ]:
# Bin Age into intervals
df['Age_Group'] = pd.cut(df['Age'], bins=[0, 25, 40, 60], labels=['Young', 'Middle-Aged', 'Old'])
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN,NaN,89150,Old
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0,184875,Old
2,3,Person_3,32,114654,HR,2020-03-31,High,99843.000000,95725.0,299529,Middle-Aged
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667,114654.0,365302,Young
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged

### Code Explanation

#### Code Breakdown
```python
df['Age_Group'] = pd.cut(df['Age'], bins=[0, 25, 40, 60], labels=['Young', 'Middle-Aged', 'Old'])
```

1. **`pd.cut()`**:
   - **Functionality**: Segments and sorts data values into bins or categories. This function is useful for converting a continuous variable into a categorical variable.
   - **Parameters**:
     - `df['Age']`: Specifies the column to segment.
     - `bins=[0, 25, 40, 60]`: Defines the boundaries of the bins. Ages 0-25 are categorized as 'Young', 26-40 as 'Middle-Aged', and 41-60 as 'Old'.
     - `labels=['Young', 'Middle-Aged', 'Old']`: Assigns labels to the bins corresponding to the age ranges.
   - **Behavior**: The function maps each age to a category based on the bin it falls into.

2. **Assignment**:
   - The categorized data is assigned to a new column, `Age_Group`, in the DataFrame.

#### Output (First 5 Rows with Age Group)
| ID  | Name      | Age | Salary  | Department | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group    |
|-----|-----------|-----|---------|------------|--------------|-------------|---------------------|----------------|-------------------|--------------|
| 1   | Person_1  | 56  | 89150   | Finance    | 2020-01-31   | Low         | NaN                 | NaN            | 89150             | Old          |
| 2   | Person_2  | 46  | 95725   | IT         | 2020-02-29   | Low         | NaN                 | 89150          | 184875            | Old          |
| 3   | Person_3  | 32  | 114654  | HR         | 2020-03-31   | High        | 99843.0             | 95725          | 299529            | Middle-Aged  |
| 4   | Person_4  | 25  | 65773   | Marketing  | 2020-04-30   | Low         | 92050.7             | 114654         | 365302            | Young        |
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   | High        | 109924.3            | 65773          | 514648            | Middle-Aged  |

---

### Applications in US Retail

#### Context
Categorizing continuous data into groups with `pd.cut()` is valuable for analyzing demographic segments, customer behaviors, or sales patterns in retail settings.

---

### **1. Customer Demographics Analysis**
**Use Case**:
- Segment customers based on age to tailor marketing strategies and product offerings.

**Application**:
- Bin customer ages into groups for targeted marketing:
  ```python
  df['Customer_Age_Group'] = pd.cut(df['Customer_Age'], bins=[0, 18, 35, 65, 100], labels=['Teen', 'Young Adult', 'Adult', 'Senior'])
  ```
- Insights:
  - Develop age-specific promotions and products.
  - Enhance customer engagement by aligning marketing messages with life stages.

---

### **2. Product Pricing Strategy**
**Use Case**:
- Adjust pricing based on age segments' purchasing power and preferences.

**Application**:
- Analyze spending by age group to optimize pricing:
  ```python
  df['Spending_Category'] = pd.cut(df['Average_Spend'], bins=[0, 100, 500, 1000], labels=['Low', 'Medium', 'High'])
  ```
- Insights:
  - Tailor pricing strategies to maximize revenue from different spending levels.

---

### **3. Store Layout Optimization**
**Use Case**:
- Organize store layouts to cater to different age groups based on their shopping habits and preferences.

**Application**:
- Use age group data to inform store design and product placement decisions.

---

### **4. Employment Strategy**
**Use Case**:
- Analyze workforce demographics to ensure diversity and appropriate staffing across different age groups.

**Application**:
- Develop training and development programs that are age-appropriate and consider career lifecycle needs.

---

### **5. Health and Safety Compliance**
**Use Case**:
- Ensure that product safety and health advisories are tailored to specific age groups, especially for products used by children or seniors.

**Application**:
- Use age categorization to comply with regulations and enhance product safety communications.

---

### Key Benefits in Retail:
1. **Targeted Marketing**: Enhances the effectiveness of marketing campaigns by targeting specific age groups.
2. **Strategic Decision-Making**: Supports strategic decisions about product development, pricing, and promotions based on demographic insights.
3. **Enhanced Customer Experience**: Improves customer satisfaction by offering age-appropriate products and services.
4. **Regulatory Compliance**: Ensures compliance with safety and health regulations by targeting product warnings and instructions to the appropriate age groups.

By using `pd.cut()`, retailers can effectively segment continuous variables into meaningful categories, enabling precise and strategic business actions.

### 15. `qcut()` - Quantile-based Binning

In [ ]:
# Bin Salary into 4 quantile-based groups
df['Salary_Quantile'] = pd.qcut(df['Salary'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group,Salary_Quantile
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN,NaN,89150,Old,Q2
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0,184875,Old,Q2
2,3,Person_3,32,114654,HR,2020-03-31,High,99843.000000,95725.0,299529,Middle-Aged,Q4
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667,114654.0,365302,Young,Q2
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged,Q4

### Code Explanation

#### Code Breakdown
```python
df['Salary_Quantile'] = pd.qcut(df['Salary'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
```

1. **`pd.qcut()`**:
   - **Functionality**: Divides data into quantiles or bins based on the distribution of the specified variable, ensuring each bin has an equal number of data points.
   - **Parameters**:
     - `df['Salary']`: The column of data to be binned.
     - `q=4`: Specifies the number of quantiles (4 in this case, corresponding to quartiles).
     - `labels=['Q1', 'Q2', 'Q3', 'Q4']`: Assigns custom labels to each quantile, representing quartile rankings from the lowest (Q1) to the highest (Q4).
   - **Behavior**: The function sorts the `Salary` values and divides them into four equally sized groups, assigning each group a label from Q1 to Q4 based on their value range.

2. **Assignment**:
   - The categorized data (quantiles) is stored in a new column `Salary_Quantile` in the DataFrame.

#### Output (First 5 Rows with Salary Quantiles)
| ID  | Name      | Age | Salary  | Department | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group   | Salary_Quantile |
|-----|-----------|-----|---------|------------|--------------|-------------|---------------------|----------------|-------------------|-------------|-----------------|
| 1   | Person_1  | 56  | 89150   | Finance    | 2020-01-31   | Low         | NaN                 | NaN            | 89150             | Old         | Q2              |
| 2   | Person_2  | 46  | 95725   | IT         | 2020-02-29   | Low         | NaN                 | 89150          | 184875            | Old         | Q2              |
| 3   | Person_3  | 32  | 114654  | HR         | 2020-03-31   | High        | 99843.0             | 95725          | 299529            | Middle-Aged | Q4              |
| 4   | Person_4  | 25  | 65773   | Marketing  | 2020-04-30   | Low         | 92050.7             | 114654         | 365302            | Young       | Q1              |
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   | High        | 109924.3            | 65773          | 514648            | Middle-Aged | Q4              |

---

### Applications in US Retail

#### Context
Quantile-based binning with `pd.qcut()` is valuable for categorizing data into segments that reflect the underlying distribution. This method is widely used in retail to analyze customer behavior, sales performance, and other financial metrics.

---

### **1. Sales Performance Evaluation**
**Use Case**:
- Retailers can categorize sales figures into quartiles to identify top-performing and underperforming products or salespersons.

**Application**:
- Bin total sales into quartiles to determine performance tiers:
  ```python
  df['Sales_Performance'] = pd.qcut(df['Total_Sales'], q=4, labels=['Low', 'Moderate', 'High', 'Top'])
  ```
- Insights:
  - Allocate resources and incentives based on sales performance.
  - Target interventions to improve low-performing areas.

---

### **2. Customer Lifetime Value Segmentation**
**Use Case**:
- Segment customers based on their lifetime value to prioritize marketing and service efforts.

**Application**:
- Use quantile binning to classify customers by spending:
  ```python
  df['CLV_Segment'] = pd.qcut(df['Customer_Lifetime_Value'], q=4, labels=['Bronze', 'Silver', 'Gold', 'Platinum'])
  ```
- Insights:
  - Tailor loyalty programs and offers to different customer segments.
  - Focus retention efforts on high-value segments.

---

### **3. Pricing Strategy**
**Use Case**:
- Evaluate pricing levels across products to optimize pricing strategies based on competitive positioning.

**Application**:
- Bin product prices into quantiles to assess market positioning:
  ```python
  df['Price_Tier'] = pd.qcut(df['Price'], q=4, labels=['Budget', 'Mid-range', 'Premium', 'Luxury'])
  ```
- Insights:
  - Align product offerings with market demand and pricing sensitivity.
  - Adjust pricing strategies to enhance profitability.

---

### **4. Employee Performance Management**
**Use Case**:
- Manage employee performance by ranking them based on their productivity or sales contributions.

**Application**:
- Rank employees by sales figures using quantile binning:
  ```python
  df['Employee_Rank'] = pd.qcut(df['Employee_Sales'], q=4, labels=['Low', 'Average', 'High', 'Top Performer'])
  ```
- Insights:
  - Recognize top performers for bonuses and promotions.
  - Provide targeted coaching and development for lower quartiles.

---

### Key Benefits in Retail:
1. **Fair Comparison**: Ensures each segment contains an equal number of data points, providing a fair basis for

 comparison.
2. **Strategic Targeting**: Allows precise targeting of resources and strategies to appropriately segmented groups.
3. **Performance Optimization**: Helps in identifying and leveraging opportunities for growth and improvement.
4. **Customer Engagement**: Enhances customer engagement through tailored strategies for different spending levels.

By using `pd.qcut()`, retailers can effectively segment and manage various aspects of their operations, enhancing efficiency and effectiveness through data-driven insights.

### 16. `value_counts()` - Count Unique Values

In [ ]:
# Count occurrences of each Department
df['Department'].value_counts()

Department
IT           15
Marketing     8
Finance       5
HR            2
Name: count, dtype: int64

### Code Explanation

#### Code Breakdown
```python
df['Department'].value_counts()
```

1. **`value_counts()`**:
   - **Functionality**: Counts the occurrences of unique values in a specified column, providing a frequency distribution.
   - **Result**: Returns a Series containing counts of unique values in descending order, so the most frequently occurring element is at the top.

#### Output (Count of Each Department)
| Department  | count |
|-------------|-------|
| IT          | 15    |
| Marketing   | 8     |
| Finance     | 5     |
| HR          | 2     |

---

### Applications in US Retail

#### Context
The `value_counts()` function is extensively used in retail to analyze categorical data. It helps in understanding the distribution of variables like department representation, product categories, customer segments, and more.

---

### **1. Workforce Distribution**
**Use Case**:
- Analyze the distribution of employees across various departments to assess workforce allocation and departmental needs.

**Insights**:
- The majority of employees work in the IT department, suggesting a tech-heavy operational focus, which might be typical for companies with a significant online presence.

---

### **2. Product Category Analysis**
**Use Case**:
- Retailers assess the range and popularity of different product categories within their inventory.

**Application**:
- Count products in each category to determine which are most prevalent:
  ```python
  df['Product_Category'].value_counts()
  ```
- Insights:
  - Allocate marketing resources and shelf space according to the popularity and profitability of product categories.

---

### **3. Customer Demographics**
**Use Case**:
- Understanding the demographic breakdown of customers helps in tailoring marketing and sales strategies.

**Application**:
- Segment customers based on demographics such as age group, location, or loyalty status:
  ```python
  df['Customer_Segment'].value_counts()
  ```
- Insights:
  - Develop targeted marketing campaigns for the most significant customer segments.

---

### **4. Store Performance by Region**
**Use Case**:
- Evaluate the number of stores in different regions to plan regional marketing strategies and resource allocation.

**Application**:
- Count the number of stores in each region:
  ```python
  df['Region'].value_counts()
  ```
- Insights:
  - Focus expansion efforts or intensify operational improvements in regions with the highest store concentrations.

---

### **5. Sales Channel Effectiveness**
**Use Case**:
- Analyze the effectiveness of different sales channels (e.g., online vs. in-store).

**Application**:
- Evaluate the frequency of sales through various channels:
  ```python
  df['Sales_Channel'].value_counts()
  ```
- Insights:
  - Optimize and tailor strategies for the most effective sales channels to boost overall sales performance.

---

### Key Benefits in Retail:
1. **Strategic Decision-Making**: Enables data-driven decisions by understanding the distribution of key business variables.
2. **Resource Optimization**: Aligns resources with areas of highest frequency or need.
3. **Market Understanding**: Provides insights into market dynamics and customer preferences.
4. **Operational Efficiency**: Improves operational strategies by identifying areas of focus based on frequency data.

Utilizing `value_counts()`, retailers can gain a clear view of the distribution within their data, aiding in efficient resource allocation, strategic planning, and market adaptation.

### 17. `replace()` - Replace Specific Values

In [ ]:
# Replace 'HR' with 'Human Resources' in Department column
df['Department'] = df['Department'].replace({'HR': 'Human Resources'})
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group,Salary_Quantile
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN,NaN,89150,Old,Q2
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0,184875,Old,Q2
2,3,Person_3,32,114654,Human Resources,2020-03-31,High,99843.000000,95725.0,299529,Middle-Aged,Q4
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667,114654.0,365302,Young,Q2
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged,Q4

### Code Explanation

#### Code Breakdown
```python
df['Department'] = df['Department'].replace({'HR': 'Human Resources'})
```

1. **`replace()`**:
   - **Functionality**: Substitutes specified values in a DataFrame or Series with new values. This method is commonly used to clean or standardize data.
   - **Parameters**:
     - `{'HR': 'Human Resources'}`: A dictionary specifying the values to replace, where 'HR' is the original value and 'Human Resources' is the new value to be substituted.
   - **Behavior**: Searches the `Department` column for the value 'HR' and replaces it with 'Human Resources'.

2. **Assignment**:
   - The updated column, with 'HR' replaced by 'Human Resources', is reassigned back to the `Department` column in the DataFrame.

#### Output (First 5 Rows with Updated Department Names)
| ID  | Name      | Age | Salary  | Department      | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group   | Salary_Quantile |
|-----|-----------|-----|---------|-----------------|--------------|-------------|---------------------|----------------|-------------------|-------------|-----------------|
| 1   | Person_1  | 56  | 89150   | Finance         | 2020-01-31   | Low         | NaN                 | NaN            | 89150             | Old         | Q2              |
| 2   | Person_2  | 46  | 95725   | IT              | 2020-02-29   | Low         | NaN                 | 89150          | 184875            | Old         | Q2              |
| 3   | Person_3  | 32  | 114654  | Human Resources | 2020-03-31   | High        | 99843.0             | 95725          | 299529            | Middle-Aged | Q4              |
| 4   | Person_4  | 25  | 65773   | Marketing       | 2020-04-30   | Low         | 92050.7             | 114654         | 365302            | Young       | Q2              |
| 5   | Person_5  | 38  | 149346  | IT              | 2020-05-31   | High        | 109924.3            | 65773          | 514648            | Middle-Aged | Q4              |

---

### Applications in US Retail

#### Context
The `replace()` function is particularly valuable in retail settings where data standardization is crucial for consistent reporting, analysis, and communication.

---

### **1. Data Cleaning and Standardization**
**Use Case**:
- Standardize categorical data, such as department names or product categories, to ensure consistency across datasets.

**Application**:
- Replace abbreviations or outdated terms in product categories or department names to align with current standards.

---

### **2. Addressing Data Entry Errors**
**Use Case**:
- Correct common data entry errors that may occur during manual data entry processes.

**Application**:
- Replace misspelled or incorrectly entered values, such as 'Human Resorces' with 'Human Resources', ensuring accuracy in employee records or inventory data.

---

### **3. Updating Branding or Naming Conventions**
**Use Case**:
- Update product names or department titles following a rebranding initiative to reflect new naming conventions.

**Application**:
- Replace old brand names with new ones across product listings or department descriptions following a corporate rebranding.

---

### **4. Localization of Content**
**Use Case**:
- Adapt product descriptions or department names for different regional markets, aligning with local language preferences and terminologies.

**Application**:
- Replace English terms with equivalent terms in local languages or dialects to cater to specific regional audiences.

---

### **5. Aligning Marketing and Sales Terminologies**
**Use Case**:
- Ensure consistency in the terminology used across marketing materials, sales channels, and internal communications.

**Application**:
- Replace outdated marketing or sales terminologies with updated terms used in new marketing campaigns or sales strategies.

---

### Key Benefits in Retail:
1. **Consistency**: Ensures consistency across data points, which is crucial for accurate data analysis and reporting.
2. **Accuracy**: Reduces errors and inconsistencies in data, which can impact business decisions.
3. **Clarity**: Improves clarity and understanding across different departments by using standardized and clear terminology.
4. **Adaptability**: Allows for easy updates and changes to data as business strategies or external conditions change.

Utilizing `replace()` helps maintain data integrity and adaptability in retail operations, facilitating better decision-making and communication.

### 18. `astype()` - Change Data Type

In [ ]:
# Convert Age to string
df['Age_Str'] = df['Age'].astype(str)
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group,Salary_Quantile,Age_Str
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN,NaN,89150,Old,Q2,56
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0,184875,Old,Q2,46
2,3,Person_3,32,114654,Human Resources,2020-03-31,High,99843.000000,95725.0,299529,Middle-Aged,Q4,32
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667,114654.0,365302,Young,Q2,25
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged,Q4,38

### Code Explanation

#### Code Breakdown
```python
df['Age_Str'] = df['Age'].astype(str)
```

1. **`astype(str)`**:
   - **Functionality**: Converts the data type of a Series or DataFrame column to a specified type, in this case, to a string (`str`).
   - **Purpose**: Useful for data transformations that require specific data types for operations, such as concatenation, where numerical values need to be treated as text.

2. **Assignment**:
   - The converted string values of the `Age` column are assigned to a new column in the DataFrame, `Age_Str`.

#### Output (First 5 Rows with Age Converted to String)
| ID  | Name      | Age | Salary  | Department      | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group   | Salary_Quantile | Age_Str |
|-----|-----------|-----|---------|-----------------|--------------|-------------|---------------------|----------------|-------------------|-------------|-----------------|---------|
| 1   | Person_1  | 56  | 89150   | Finance         | 2020-01-31   | Low         | NaN                 | NaN            | 89150             | Old         | Q2              | 56      |
| 2   | Person_2  | 46  | 95725   | IT              | 2020-02-29   | Low         | NaN                 | 89150          | 184875            | Old         | Q2              | 46      |
| 3   | Person_3  | 32  | 114654  | Human Resources | 2020-03-31   | High        | 99843.0             | 95725          | 299529            | Middle-Aged | Q4              | 32      |
| 4   | Person_4  | 25  | 65773   | Marketing       | 2020-04-30   | Low         | 92050.7             | 114654         | 365302            | Young       | Q2              | 25      |
| 5   | Person_5  | 38  | 149346  | IT              | 2020-05-31   | High        | 109924.3            | 65773          | 514648            | Middle-Aged | Q4              | 38      |

---

### Applications in US Retail

#### Context
The `astype()` function is critical in retail for data type conversions that facilitate analysis, data manipulation, or compatibility with external systems or software that require specific data types.

---

### **1. Data Integration**
**Use Case**:
- When integrating data from multiple sources, ensuring consistent data types is crucial to prevent errors during data processing or analysis.

**Application**:
- Convert IDs, codes, or other numerical data that are categorical or representational in nature to strings to ensure they are not mistakenly processed as numerical values.

---

### **2. Reporting and Visualization**
**Use Case**:
- Visualizations and reports often require categorical data to be in string format for proper labeling and grouping.

**Application**:
- Convert numerical categories or grouped numeric data into strings for more readable and informative charts and graphs.

---

### **3. Data Cleaning and Preparation**
**Use Case**:
- Prepare data for machine learning models or statistical analyses where specific data types are required for features.

**Application**:
- Ensure that all features conform to the expected data types, such as converting boolean flags from integers to actual boolean types, which are more efficient and semantically correct.

---

### **4. Customer Communication**
**Use Case**:
- Tailoring communications such as emails or notifications, where personalization involves incorporating numeric data into text formats.

**Application**:
- Convert dates, ages, or other numerical data to strings to include in formatted messages or documents.

---

### **5. E-commerce Operations**
**Use Case**:
- Managing product attributes that are numerical but used categorically in filters, searches, or feature listings on e-commerce platforms.

**Application**:
- Convert sizes, model numbers, or other specifications from numeric to string to prevent any unintended arithmetic operations and ensure they are used correctly in search and comparison functions.

---

### Key Benefits in Retail:
1. **Compatibility**: Ensures data is in the correct format for use with specific tools or software, enhancing compatibility.
2. **Accuracy**: Prevents data processing errors by confirming data types match their intended use.
3. **User Experience**: Improves clarity and readability of data in reports and communications.
4. **Flexibility**: Allows for easy customization and integration of data across systems.

Using `astype()`, retailers can effectively manage data transformations, ensuring smooth operations and precise analysis.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   30 non-null     int64
 1   Name                 30 non-null     object
 2   Age                  30 non-null     int64
 3   Salary               30 non-null     float64
 4   Department           30 non-null     object
 5   Joining_Date         30 non-null     datetime64[ns]
 6   Salary_Band          30 non-null     object
 7   Rolling_Mean_Salary  28 non-null     float64
 8   Shifted_Salary       29 non-null     float64
 9   Cumulative_Salary    30 non-null     int64
 10  Age_Group            30 non-null     category
 11  Salary_Quantile      30 non-null     category
 12  Age_Str              30 non-null     object
 13  Salary_Rank          30 non-null     float64
dtypes: category(2), datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 3.3+ KB

### 19. `sample()` - Random Sampling

In [ ]:
# Sample 5 random rows from the DataFrame
df.sample(5)

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group,Salary_Quantile,Age_Str
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667,114654.0,365302,Young,Q2,25
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0,184875,Old,Q2,46
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged,Q4,38
5,6,Person_6,56,97435,Marketing,2020-06-30,Low,104184.666667,149346.0,612083,Old,Q3,56
9,10,Person_10,28,146216,IT,2020-10-31,High,101523.333333,61551.0,1003539,Middle-Aged,Q4,28

### Code Explanation

#### Code Breakdown
```python
df.sample(5)
```

1. **`sample()`**:
   - **Functionality**: Randomly selects a specified number of rows from a DataFrame. This method is useful for generating random samples of data for analysis, testing, or visualization.
   - **Parameters**:
     - `5`: Specifies the number of rows to randomly select from the DataFrame.
   - **Behavior**: The function uses a random seed (which can be set for reproducibility using the `random_state` argument) to select a subset of rows.

#### Output (Sample of 5 Random Rows)
| ID  | Name      | Age | Salary  | Department | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group   | Salary_Quantile | Age_Str |
|-----|-----------|-----|---------|------------|--------------|-------------|---------------------|----------------|-------------------|-------------|-----------------|---------|
| 4   | Person_4  | 25  | 65773   | Marketing  | 2020-04-30   | Low         | 92050.7             | 114654         | 365302            | Young       | Q2              | 25      |
| 2   | Person_2  | 46  | 95725   | IT         | 2020-02-29   | Low         | NaN                 | 89150          | 184875            | Old         | Q2              | 46      |
| 5   | Person_5  | 38  | 149346  | IT         | 2020-05-31   | High        | 109924.3            | 65773          | 514648            | Middle-Aged | Q4              | 38      |
| 6   | Person_6  | 56  | 97435   | Marketing  | 2020-06-30   | Low         | 104184.7            | 149346         | 612083            | Old         | Q3              | 56      |
| 10  | Person_10 | 28  | 146216  | IT         | 2020-10-31   | High        | 101523.3            | 61551          | 1003539           | Middle-Aged | Q4              | 28      |

---

### Applications in US Retail

#### Context
Random sampling with the `sample()` function is crucial in retail for pilot testing, quality control, market research, and data analysis, allowing for the testing of hypotheses, validation of data quality, and examination of typical customer behavior or sales performance.

---

### **1. Quality Control Checks**
**Use Case**:
- Perform random checks on product quality or store conditions to ensure consistency and standards.

**Application**:
- Randomly select products or stores for quality assurance reviews or audits.

---

### **2. Market Research**
**Use Case**:
- Understand customer preferences and behavior by conducting surveys or interviews based on a random sample of customers.

**Application**:
- Select a random subset of customers for market research to gather data that is representative of the overall customer base.

---

### **3. A/B Testing**
**Use Case**:
- Evaluate the effectiveness of new marketing campaigns, store layouts, or product placements by applying changes to a random sample of stores or customers.

**Application**:
- Randomly divide stores or online visitors into test and control groups to assess the impact of different strategies.

---

### **4. Data Analysis and Training Models**
**Use Case**:
- Use random sampling to create training and test datasets for machine learning models.

**Application**:
- Randomly select data points to prevent overfitting and ensure models are generalizable to new, unseen data.

---

### **5. Fraud Detection**
**Use Case**:
- Conduct random audits or checks to detect and prevent fraudulent activities within transactions or financial records.

**Application**:
- Randomly sample transactions for detailed examination to identify potential fraud or inconsistencies.

---

### Key Benefits in Retail:
1. **Data Integrity**: Ensures unbiased selection of data for analysis and quality control.
2. **Resource Efficiency**: Focuses efforts on a manageable subset of data or products, saving time and resources.
3. **Representative Insights**: Provides a snapshot that is representative of the whole, supporting accurate decision-making.
4. **Strategic Evaluation**: Facilitates the testing and comparison of new strategies or products in a controlled manner.

By leveraging `sample()`, retailers can efficiently manage and analyze data, conduct quality control, and develop strategies based on representative insights.

### 20. `corr()` - Correlation Matrix

In [1]:
# Calculate correlation matrix
df.corr()

NameError: name 'df' is not defined

The `corr()` function in pandas computes the pairwise correlation of all columns in the DataFrame with numeric data types. The default method it uses is Pearson correlation, which measures the linear relationship between two variables.

### Description of `corr()` Function:
- **Functionality**: Calculates the correlation coefficients for all pairs of columns in the DataFrame. The coefficients range from -1 to 1, where:
  - **+1** indicates a perfect positive linear relationship,
  - **-1** indicates a perfect negative linear relationship, and
  - **0** indicates no linear relationship.
- **Method Used**: Pearson is the default, but other methods like 'kendall' or 'spearman' can be specified to handle non-parametric or ranked data.

### Example Usage in Retail:
Correlation matrices are crucial in retail analytics for:
1. **Feature Selection in Machine Learning**: Identifying which features are most related to the target variable and which features are redundant due to high intercorrelations.
2. **Risk Management**: Understanding correlations between different financial metrics can help in assessing risks and diversifying investments or strategies.
3. **Market Basket Analysis**: Finding correlations between different products can help in optimizing store layout and promotional strategies.
4. **Customer Segmentation**: Identifying relationships between different customer behaviors and demographics to refine marketing strategies.

### Execution and Output:
Executing `df.corr()` on your DataFrame will return a correlation matrix of the form:

|                | Column1    | Column2    | Column3    | ... | ColumnN    |
|----------------|------------|------------|------------|-----|------------|
| **Column1**    | 1.0000     | -0.2412    | 0.4983     | ... | 0.1560     |
| **Column2**    | -0.2412    | 1.0000     | -0.1234    | ... | 0.6211     |
| **Column3**    | 0.4983     | -0.1234    | 1.0000     | ... | -0.3412    |
| **...**        | ...        | ...        | ...        | 1.0 | ...        |
| **ColumnN**    | 0.1560     | 0.6211     | -0.3412    | ... | 1.0000     |

Each cell in the matrix shows the correlation coefficient between two variables. For example, the value at the intersection of **Column2** and **Column3** shows their correlation coefficient.

### Note:
This matrix will only include columns with numeric data types, as correlation is a measure of the linear relationship between numeric variables. If your DataFrame contains non-numeric types, those columns will be excluded from the correlation calculation.

This tool is instrumental in preliminary data analysis, helping to guide more detailed statistical tests and data exploration strategies.

### 21. `isin()` - Filter Rows by Values

In [ ]:
# Filter rows where Department is IT or Finance
df[df['Department'].isin(['IT', 'Finance'])]

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group,Salary_Quantile,Age_Str
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN,NaN,89150,Old,Q2,56
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0,184875,Old,Q2,46
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged,Q4,38
7,8,Person_8,40,96803,IT,2020-08-31,Low,93708.000000,86886.0,795772,Middle-Aged,Q3,40
8,9,Person_9,28,61551,IT,2020-09-30,Low,81746.666667,96803.0,857323,Middle-Aged,Q1,28
9,10,Person_10,28,146216,IT,2020-10-31,High,101523.333333,61551.0,1003539,Middle-Aged,Q4,28
10,11,Person_11,41,41394,IT,2020-11-30,Low,83053.666667,146216.0,1044933,Old,Q1,41
11,12,Person_12,53,99092,IT,2020-12-31,Low,95567.333333,41394.0,1144025,Old,Q3,53
13,14,Person_14,41,71606,IT,2021-02-28,Low,68196.000000,33890.0,1249521,Old,Q2,41
15,16,Person_16,39,110038,Finance,2021-04-30,High,102640.000000,126276.0,1485835,Middle-Aged,Q3,39
16,17,Person_17,19,117313,IT,2021-05-31,High,117875.666667,110038.0,1603148,Young,Q4,19
17,18,Person_18,41,40627,IT,2021-06-30,Low,89326.000000,117313.0,1643775,Old,Q1,41
19,20,Person_20,55,138859,IT,2021-08-31,High,72759.333333,38792.0,1821426,Old,Q4,55
20,21,Person_21,19,138557,IT,2021-09-30,High,105402.666667,138859.0,1959983,Young,Q4,19
21,22,Person_22,38,103969,IT,2021-10-31,High,127128.333333,138557.0,2063952,Middle-Aged,Q3,38
23,24,Person_24,29,106552,IT,2021-12-31,High,94507.333333,73001.0,2243505,Middle-Aged,Q3,29
24,25,Person_25,39,53897,Finance,2022-01-31,Low,77816.666667,106552.0,2297402,Middle-Aged,Q1,39
26,27,Person_27,44,53483,Finance,2022-03-31,Low,68509.333333,98148.0,2449033,Old,Q1,44
28,29,Person_29,45,47159,IT,2022-05-31,Low,59732.333333,78555.0,2574747,Old,Q1,45
29,30,Person_30,33,140510,Finance,2022-06-30,High,88741.333333,47159.0,2715257,Middle-Aged,Q4,33

### Code Explanation

#### Code Breakdown
```python
df[df['Department'].isin(['IT', 'Finance'])]
```

1. **`isin()`**:
   - **Functionality**: Checks each element in the DataFrame column (`Department` in this case) to see if it is in the provided list (`['IT', 'Finance']`). It returns a Boolean Series where `True` indicates the presence of the value in the list.
   - **Purpose**: This method is particularly useful for filtering data based on a set of categorical values.

2. **Filtering DataFrame**:
   - The Boolean Series generated by `isin()` is used to filter the rows of the DataFrame. Only the rows where the condition is `True` (i.e., where `Department` is either 'IT' or 'Finance') are included in the output.

#### Output (Filtered DataFrame for Departments 'IT' and 'Finance')
The output displays all rows from the DataFrame where the `Department` is either 'IT' or 'Finance', along with all other associated data columns. Here's a summary:

| ID  | Name      | Age | Salary  | Department      | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group   | Salary_Quantile | Age_Str |
|-----|-----------|-----|---------|-----------------|--------------|-------------|---------------------|----------------|-------------------|-------------|-----------------|---------|
| 1   | Person_1  | 56  | 89150   | Finance         | 2020-01-31   | Low         | NaN                 | NaN            | 89150             | Old         | Q2              | 56      |
| ... | ...       | ... | ...     | ...             | ...          | ...         | ...                 | ...            | ...               | ...         | ...             | ...     |
| 29  | Person_30 | 33  | 140510  | Finance         | 2022-06-30   | High        | 88741.3             | 47159          | 2715257           | Middle-Aged | Q4              | 33      |

---

### Applications in US Retail

#### Context
Using `isin()` to filter data based on department or other categorical criteria is common in retail for targeting specific segments or departments for analysis, reporting, or operational management.

---

### **1. Department-Specific Analysis**
**Use Case**:
- Conduct financial audits or performance reviews focused specifically on critical departments such as IT and Finance.

**Insights**:
- Analyze budget allocation, spending, and financial performance of these key departments to optimize resources and strategic investments.

---

### **2. Targeted Marketing and HR Initiatives**
**Use Case**:
- Implement department-specific HR policies, training programs, or internal marketing campaigns.

**Application**:
- Design initiatives tailored to the needs and characteristics of employees in IT and Finance, such as tech training for IT or regulatory compliance for Finance.

---

### **3. Resource Allocation**
**Use Case**:
- Allocate resources such as budgets, new tools, or technology upgrades selectively to departments based on specific criteria or needs.

**Application**:
- Prioritize investment in IT infrastructure or financial software based on the strategic importance and requirements of the IT and Finance departments.

---

### **4. Reporting and Compliance**
**Use Case**:
- Ensure compliance with industry regulations and internal policies, which may vary significantly between different departments like IT and Finance.

**Application**:
- Generate compliance reports and conduct internal audits specifically for departments handling sensitive information or financial transactions.

---

### Key Benefits in Retail:
1. **Focused Analysis and Operations**: Enables targeted analysis and strategic operations by focusing on specific segments or departments.
2. **Efficiency**: Improves efficiency by filtering out irrelevant data, allowing more focused and faster processing.
3. **Strategic Decision-Making**: Supports informed decision-making by providing data specific to key business units.
4. **Compliance and Risk Management**: Enhances compliance and risk management by isolating departments with specific regulatory obligations.

By leveraging `isin()` for targeted data filtering, retail managers and analysts can optimize operations, ensure compliance, and implement tailored strategies effectively.

### 22. `rank()` - Rank Values

In [ ]:
# Rank Salaries
df['Salary_Rank'] = df['Salary'].rank()
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group,Salary_Quantile,Age_Str,Salary_Rank
0,1,Person_1,56,89150,Finance,2020-01-31,Low,NaN,NaN,89150,Old,Q2,56,14.0
1,2,Person_2,46,95725,IT,2020-02-29,Low,NaN,89150.0,184875,Old,Q2,46,15.0
2,3,Person_3,32,114654,Human Resources,2020-03-31,High,99843.000000,95725.0,299529,Middle-Aged,Q4,32,23.0
3,4,Person_4,25,65773,Marketing,2020-04-30,Low,92050.666667,114654.0,365302,Young,Q2,25,9.0
4,5,Person_5,38,149346,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged,Q4,38,30.0

### Code Explanation

#### Code Breakdown
```python
df['Salary_Rank'] = df['Salary'].rank()
```

1. **`rank()`**:
   - **Functionality**: Assigns ranks to entries based on their value, with ties being assigned a rank equal to the average of the ranks they would have received if ranked separately. The default ranking is in ascending order, so lower values receive lower ranks.
   - **Behavior**: The rank is calculated across the entire DataFrame for the specified column (`Salary`), without any gaps in rank values between ties.

2. **Assignment**:
   - The resulting ranks are stored in a new column called `Salary_Rank` in the DataFrame.

#### Output (First 5 Rows with Salary Rank)
| ID  | Name      | Age | Salary  | Department      | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group   | Salary_Quantile | Age_Str | Salary_Rank |
|-----|-----------|-----|---------|-----------------|--------------|-------------|---------------------|----------------|-------------------|-------------|-----------------|---------|-------------|
| 1   | Person_1  | 56  | 89150   | Finance         | 2020-01-31   | Low         | NaN                 | NaN            | 89150             | Old         | Q2              | 56      | 14.0        |
| 2   | Person_2  | 46  | 95725   | IT              | 2020-02-29   | Low         | NaN                 | 89150          | 184875            | Old         | Q2              | 46      | 15.0        |
| 3   | Person_3  | 32  | 114654  | Human Resources | 2020-03-31   | High        | 99843.0             | 95725          | 299529            | Middle-Aged | Q4              | 32      | 23.0        |
| 4   | Person_4  | 25  | 65773   | Marketing       | 2020-04-30   | Low         | 92050.7             | 114654         | 365302            | Young       | Q2              | 25      | 9.0         |
| 5   | Person_5  | 38  | 149346  | IT              | 2020-05-31   | High        | 109924.3            | 65773          | 514648            | Middle-Aged | Q4              | 38      | 30.0        |

---

### Applications in US Retail

#### Context
Ranking with the `rank()` function is valuable for assessing relative standings, such as salary levels, sales figures, or performance metrics, among a group of items or individuals in retail.

---

### **1. Employee Salary Comparison**
**Use Case**:
- Rank employees based on their salaries to evaluate relative compensation levels and identify discrepancies or opportunities for pay adjustments.

**Insights**:
- Identify employees who are underpaid or overpaid relative to their peers, providing a basis for standardizing compensation.

---

### **2. Sales Performance Ranking**
**Use Case**:
- Rank stores or products based on sales figures to prioritize areas for improvement or reward top performers.

**Application**:
- Use `rank()` to sort stores by sales volume or profitability:
  ```python
  df['Sales_Rank'] = df['Sales'].rank(ascending=False)
  ```
- Insights:
  - Target support and resources to lower-ranked stores.
  - Develop strategies to replicate the success of top-ranked stores.

---

### **3. Customer Value Segmentation**
**Use Case**:
- Segment customers based on their purchasing power or loyalty, ranking them to tailor marketing efforts and rewards.

**Application**:
- Rank customers by total spend or frequency of visits:
  ```python
  df['Customer_Value_Rank'] = df['Total_Spend'].rank(ascending=False)
  ```
- Insights:
  - Offer loyalty rewards or exclusive promotions to top-ranked customers.
  - Use lower-ranked segments for targeted marketing to boost their spending.

---

### **4. Inventory Turnover Analysis**
**Use Case**:
- Analyze product turnover rates to manage inventory effectively, ranking products by sales velocity or turnover rate.

**Application**:
- Rank products by how quickly they sell:
  ```python
  df['Turnover_Rank'] = df['Turnover_Rate'].rank(ascending=True)
  ```
- Insights:
  - Prioritize restocking high-turnover items.
  - Consider clearance strategies for slow-moving inventory.

---

### **5. Performance Reviews**
**Use Case**:
- Conduct performance reviews based on quantifiable metrics, ranking employees or teams to provide feedback and set goals.

**Application**:
- Rank employees based on performance metrics such as sales achieved, tasks completed, or customer ratings:
  ```python
  df['Performance_Rank'] = df['Performance_Score'].rank(ascending=False)
  ```
- Insights:
  - Use rankings to motivate improvements and reward top performers.
  - Provide targeted coaching and support to enhance skills and capabilities.

---

### Key Benefits in Retail:
1. **Fair Evaluations**: Offers a method for fair comparisons by setting a relative scale of measurement.
2. **Strategic Focus**: Helps management focus on critical areas identified by ranking outcomes.
3. **Motivation and Incentivization**: Encourages competition and improvement by making performance visible.
4. **Resource Allocation**: Efficiently directs resources to areas that are ranked lower to improve their standing.

By leveraging `rank()`, retailers can streamline decision-making processes and optimize resource allocation, performance management, and strategic planning based on a clear understanding of rankings across various metrics.

### 23. `interpolate()` - Fill Missing Values Interpolatively

In [ ]:
# Simulate missing values in Salary and fill using interpolation
df.loc[5:10, 'Salary'] = np.nan
df['Salary'] = df['Salary'].interpolate()
df.head(15)

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group,Salary_Quantile,Age_Str,Salary_Rank
0,1,Person_1,56,89150.000000,Finance,2020-01-31,Low,NaN,NaN,89150,Old,Q2,56,14.0
1,2,Person_2,46,95725.000000,IT,2020-02-29,Low,NaN,89150.0,184875,Old,Q2,46,15.0
2,3,Person_3,32,114654.000000,Human Resources,2020-03-31,High,99843.000000,95725.0,299529,Middle-Aged,Q4,32,23.0
3,4,Person_4,25,65773.000000,Marketing,2020-04-30,Low,92050.666667,114654.0,365302,Young,Q2,25,9.0
4,5,Person_5,38,149346.000000,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged,Q4,38,30.0
5,6,Person_6,56,142166.857143,Marketing,2020-06-30,Low,104184.666667,149346.0,612083,Old,Q3,56,17.0
6,7,Person_7,36,134987.714286,Marketing,2020-07-31,Low,111222.333333,97435.0,698969,Middle-Aged,Q2,36,13.0
7,8,Person_8,40,127808.571429,IT,2020-08-31,Low,93708.000000,86886.0,795772,Middle-Aged,Q3,40,16.0
8,9,Person_9,28,120629.428571,IT,2020-09-30,Low,81746.666667,96803.0,857323,Middle-Aged,Q1,28,8.0
9,10,Person_10,28,113450.285714,IT,2020-10-31,High,101523.333333,61551.0,1003539,Middle-Aged,Q4,28,29.0
10,11,Person_11,41,106271.142857,IT,2020-11-30,Low,83053.666667,146216.0,1044933,Old,Q1,41,4.0
11,12,Person_12,53,99092.000000,IT,2020-12-31,Low,95567.333333,41394.0,1144025,Old,Q3,53,19.0
12,13,Person_13,57,33890.000000,Marketing,2021-01-31,Low,58125.333333,99092.0,1177915,Old,Q1,57,1.0
13,14,Person_14,41,71606.000000,IT,2021-02-28,Low,68196.000000,33890.0,1249521,Old,Q2,41,10.0
14,15,Person_15,20,126276.000000,Human Resources,2021-03-31,High,77257.333333,71606.0,1375797,Young,Q4,20,25.0

### Code Explanation

#### Code Breakdown
```python
df.loc[5:10, 'Salary'] = np.nan
df['Salary'] = df['Salary'].interpolate()
```

1. **Simulating Missing Values**:
   - `df.loc[5:10, 'Salary'] = np.nan`: This line sets the `Salary` values for rows 5 through 10 to `NaN` (Not a Number), simulating missing data in the dataset.

2. **Interpolation**:
   - `df['Salary'].interpolate()`: This function fills missing values (`NaN`) in the `Salary` column using linear interpolation by default. Linear interpolation calculates the value of a point between two known values based on linear progression. This method is particularly useful when the data points have an inherent order.

3. **Assignment**:
   - `df['Salary'] = ...`: The interpolated values replace the original `Salary` column, including the previously missing values now filled with interpolated data.

#### Output (First 15 Rows After Interpolation)
| ID  | Name      | Age | Salary        | Department      | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group   | Salary_Quantile | Age_Str | Salary_Rank |
|-----|-----------|-----|---------------|-----------------|--------------|-------------|---------------------|----------------|-------------------|-------------|-----------------|---------|-------------|
| 1   | Person_1  | 56  | 89150.000000  | Finance         | 2020-01-31   | Low         | NaN                 | NaN            | 89150             | Old         | Q2              | 56      | 14.0        |
| 2   | Person_2  | 46  | 95725.000000  | IT              | 2020-02-29   | Low         | NaN                 | 89150          | 184875            | Old         | Q2              | 46      | 15.0        |
| 3   | Person_3  | 32  | 114654.000000 | Human Resources | 2020-03-31   | High        | 99843.000000        | 95725          | 299529            | Middle-Aged | Q4              | 32      | 23.0        |
| ... | ...       | ... | ...           | ...             | ...          | ...         | ...                 | ...            | ...               | ...         | ...             | ...     | ...         |
| 5   | Person_6  | 56  | 142166.857143 | Marketing       | 2020-06-30   | Low         | 104184.666667       | 149346         | 612083            | Old         | Q3              | 56      | 17.0        |
| 6   | Person_7  | 36  | 134987.714286 | Marketing       | 2020-07-31   | Low         | 111222.333333       | 97435          | 698969            | Middle-Aged | Q2              | 36      | 13.0        |
| ... | ...       | ... | ...           | ...             | ...          | ...         | ...                 | ...            | ...               | ...         | ...             | ...     | ...         |

---

### Applications in US Retail

#### Context
Interpolation is particularly valuable in retail datasets where missing data points can skew analysis, especially in time series data or any other ordered dataset such as sales, inventory levels, or customer traffic data.

---

### **1. Sales Data Restoration**
**Use Case**:
- Fill in missing daily sales data using interpolation to maintain the integrity of sales analysis and reporting.

**Application**:
- Use interpolation to estimate missing daily or weekly sales figures based on surrounding data points.

---

### **2. Inventory Tracking**
**Use Case**:
- Restore missing inventory records, which are essential for accurate inventory management and forecasting.

**Application**:
- Interpolate missing inventory levels between known data points to ensure continuous tracking and avoid erroneous stock-outs or overstock situations.

---

### **3. Financial Forecasting**
**Use Case**:
- Employ interpolation to fill gaps in financial data used for trend analysis and forecasting.

**Application**:
- Estimate missing financial metrics such as daily revenue, expenses, or cash flow to maintain the continuity of financial performance monitoring.

---

### **4. Customer Behavior Analysis**
**Use Case**:
- Use interpolation to estimate missing data in customer visitation patterns or purchase frequencies.

**Application**:
- Fill in gaps in customer activity logs to better understand behavior patterns and improve customer engagement strategies.

---

### Key Benefits in Retail:
1. **Data Integrity**: Maintains the continuity and completeness of data, which is crucial for reliable analysis.
2. **Analytical Accuracy**: Prevents the distortion of results due to missing data, ensuring more accurate analysis and decision-making.
3. **Operational Efficiency**: Supports smoother operational processes by providing a complete dataset for various retail management tasks.
4. **Strategic Planning**: Enhances strategic planning with a fuller data set, leading to better-informed business decisions.

By employing `interpolate()`, retailers can effectively manage and utilize their data, minimizing the impact of missing values on their operations and strategic analyses.

### 24. `reset_index()` - Reset Index

In [ ]:
# Reset the index of the DataFrame
df.reset_index(drop=True, inplace=True)
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Salary_Band,Rolling_Mean_Salary,Shifted_Salary,Cumulative_Salary,Age_Group,Salary_Quantile,Age_Str,Salary_Rank
0,1,Person_1,56,89150.0,Finance,2020-01-31,Low,NaN,NaN,89150,Old,Q2,56,14.0
1,2,Person_2,46,95725.0,IT,2020-02-29,Low,NaN,89150.0,184875,Old,Q2,46,15.0
2,3,Person_3,32,114654.0,Human Resources,2020-03-31,High,99843.000000,95725.0,299529,Middle-Aged,Q4,32,23.0
3,4,Person_4,25,65773.0,Marketing,2020-04-30,Low,92050.666667,114654.0,365302,Young,Q2,25,9.0
4,5,Person_5,38,149346.0,IT,2020-05-31,High,109924.333333,65773.0,514648,Middle-Aged,Q4,38,30.0

### Code Explanation

#### Code Breakdown
```python
df.reset_index(drop=True, inplace=True)
```

1. **`reset_index()`**:
   - **Functionality**: Resets the DataFrame's index back to the default integer index. This function is useful after operations that may alter the index, such as sorting or filtering, to maintain a standard integer index.
   - **Parameters**:
     - `drop=True`: Prevents the old index from being added as a column in the DataFrame. Instead, it is completely discarded.
     - `inplace=True`: Performs the operation in-place without returning a new DataFrame, directly modifying the original DataFrame.

#### Output (DataFrame with Reset Index)
The DataFrame `df` now has a reset index, which starts from 0 and increases sequentially, corresponding to the row's position in the DataFrame. Here's what the DataFrame looks like after resetting the index:

|    | ID  | Name      | Age | Salary    | Department      | Joining_Date | Salary_Band | Rolling_Mean_Salary | Shifted_Salary | Cumulative_Salary | Age_Group   | Salary_Quantile | Age_Str | Salary_Rank |
|----|-----|-----------|-----|-----------|-----------------|--------------|-------------|---------------------|----------------|-------------------|-------------|-----------------|---------|-------------|
| 0  | 1   | Person_1  | 56  | 89150.0   | Finance         | 2020-01-31   | Low         | NaN                 | NaN            | 89150             | Old         | Q2              | 56      | 14.0        |
| 1  | 2   | Person_2  | 46  | 95725.0   | IT              | 2020-02-29   | Low         | NaN                 | 89150.0        | 184875            | Old         | Q2              | 46      | 15.0        |
| 2  | 3   | Person_3  | 32  | 114654.0  | Human Resources | 2020-03-31   | High        | 99843.000000        | 95725.0        | 299529            | Middle-Aged | Q4              | 32      | 23.0        |
| 3  | 4   | Person_4  | 25  | 65773.0   | Marketing       | 2020-04-30   | Low         | 92050.666667        | 114654.0       | 365302            | Young       | Q2              | 25      | 9.0         |
| 4  | 5   | Person_5  | 38  | 149346.0  | IT              | 2020-05-31   | High        | 109924.333333       | 65773.0        | 514648            | Middle-Aged | Q4              | 38      | 30.0        |

---

### Applications in US Retail

#### Context
Resetting the index is often a preliminary step in data preparation, ensuring a clean and predictable index for further operations such as merging, concatenation, or straightforward data access by row indices.

---

### **1. Data Concatenation**
**Use Case**:
- Combine multiple datasets from different sources which may have overlapping or non-sequential indexes.

**Application**:
- Reset the index on each DataFrame before concatenation to avoid index conflicts and ensure data integrity.

---

### **2. Data Cleaning Post-Filtering**
**Use Case**:
- After filtering data based on certain criteria, reset the index to reflect the new order and size of the DataFrame.

**Application**:
- Ensure that subsequent data operations do not rely on an old, now-irrelevant index, potentially causing errors.

---

### **3. Preparing Data for Export**
**Use Case**:
- Prepare data for export to external systems or files, where a clean, sequential index is required for better compatibility or readability.

**Application**:
- Reset the index before exporting to formats like CSV or Excel to ensure the data structure is maintained correctly in the target system.

---

### **4. Reporting and Visualization**
**Use Case**:
- Generate reports or visualizations where a sequential and clean index aids in readability and presentation.

**Application**:
- Reset the index to enhance the clarity of the resulting tables or charts, making them easier to interpret and analyze.

---

### **5. Subsetting Data for Analysis**
**Use Case**:
- Create subsets of data for analysis or sharing, ensuring subsets start with a clean index.

**Application**:
- Reset the index after subsetting to maintain a standard format and avoid confusion about data lineage or origins.

---

### Key Benefits in Retail:
1. **Clarity and Standardization**: Provides a uniform index across different data manipulation stages, enhancing clarity.
2. **Error Reduction**: Reduces the potential for errors in data manipulation by ensuring the index accurately represents the current dataset's state.
3. **Operational Efficiency**: Facilitates efficient data operations, especially in environments with complex data workflows.
4. **Enhanced Data Integrity**: Supports maintaining data integrity through transformations, merging, and exporting processes.

By using `reset_index()`, retailers can manage their data more effectively, ensuring that operations are streamlined and the data remains consistent and accurate throughout various processing stages.

### 25. `to_csv()` - Export DataFrame to CSV

In [ ]:
# Export the DataFrame to a CSV file (uncomment to save the file)
# df.to_csv('output.csv', index=False)
'DataFrame exported successfully!'

'DataFrame exported successfully!'

### Explanation of `to_csv()` Function

The `to_csv()` method in pandas is used to write a DataFrame to a comma-separated values (CSV) file, which is a widely used format for storing tabular data. This function is highly flexible, allowing for various customizations to suit different needs, such as including or excluding the index or specific columns, setting custom delimiters, and handling various encoding types.

#### Syntax and Parameters
```python
df.to_csv('output.csv', index=False)
```

- **`'output.csv'`**: Specifies the filename or path where the CSV file will be saved. If only the filename is provided, the file will be saved in the current working directory.
- **`index=False`**: By setting `index=False`, the DataFrame index (row labels) will not be written to the file. Including the index is often unnecessary unless it contains meaningful data.

#### Example Usage Scenario in Retail
In a retail context, exporting data to CSV files is commonly used for several purposes:

1. **Sharing Data**: CSV files are a universal format, easy to share with stakeholders who might use different systems or software for data analysis.
   
2. **Reporting**: Retail managers often need to generate reports from transactional data, inventory records, or sales performance data. These reports can be initially created in DataFrames and then exported to CSV for distribution.

3. **Data Backup**: Regularly exporting data to CSV files can serve as a straightforward backup solution for critical business data.

4. **Integration with Other Systems**: Many retail systems support CSV import for data integration. Exporting DataFrames to CSV allows for easy data migration or synchronization between systems.

#### Successful Export Message
```plaintext
'DataFrame exported successfully!'
```
This message confirms that the DataFrame has been successfully saved to a CSV file. If this line is part of a script or a larger application, it provides clear feedback to the user or administrator that the operation has been completed successfully.

### Note on Usage
The line to export the DataFrame to a CSV file is commented out (`# df.to_csv('output.csv', index=False)`) to prevent unintentional file writing during documentation or testing. To execute the export, the comment must be removed. This practice helps in avoiding overwriting existing files or data loss during routine code checks or demonstrations.

By leveraging the `to_csv()` function, retail businesses can enhance their data management practices, streamline reporting, and improve data communication across different departments or with external partners.